{% extends 'base.html' %}
{% block content %}

<div class="col-md-12">
    <div class="card">
    <div class="card-header">
        <h3>Vechicle Registrations Details</h3>&nbsp;
    </div>

<table width="90%" class="table table-bordered table-hover" border="5px">
  <tr>
      <th>Number</th><td>{{ object.NO }}</td>
      <th>Activity ID</th><td>{{ object.Activity_Id }}</td>
  </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
      <th width="25%">Plate Number </th><td width="25%">{{ object.PLATE_NO }}</td>
      <th width="25%">Conduction Sticker</th><td width="25%">{{ object.CS_NO }}</td>
    </tr>
    <tr>
      <th>CR Name </th> <td>{{ object.CR_NAME }}</td>
      <th>Model </th> <td>{{ object.MODEL }}</td>
    </tr>
    <tr>
      <th>Brand</th> <td>{{ object.BRAND }}</td>
      <th>Vehicle_make</th> <td>{{ object.VEHICLE_MAKE }}</td>
    </tr>
    <tr>
      <th>Engine Number </th> <td>{{ object.ENGINE_NO }}</td>
      <th>Chassis Number</th> <td>{{ object.CHASSIS_NO }}</td>
    </tr>
    <tr>
      <th>MV File Number</th><td>{{ object.MV_FILE_NO }}</td>
      <th>COC</th><td>{{ object.COC }}</td>
    </tr>
    <tr>
      <th>Smoke/TPL</th><td>{{ object.SMOKE_TPL }}</td>
      <th>Remarks/Registered</th> <td>{{ object.REMARKS_REGISTERED }}</td>
    </tr>
    <tr>
      <th>Date Emailed</th><td>{{ object.DATE_EMAILED }}</td>
      <th>Justification Remarks </th> <td>{{ object.JUSTIFICATION_REMARKS }}</td>
    </tr>
    <tr>
      <th>Email Status</th><td>{{ object.sent_email }}</td>
      <th>Email </th> <td>{{ object.email }}</td>
    </tr>
</table>
    <div class="card-footer">
      <button class="buttonsubmit" style="width:150px;" data-toggle="modal" data-target="#updateModal">Update</button>&nbsp;
      <a data-toggle="modal" data-target="#printModal"  class="buttonsubmit">Print</a>&nbsp;
      <a href="{% url 'registration_jan_reg'%}" class="btn" >Close</a>
      
    </div>
</div>
</div>
<!-- Print Modal--->
<div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:50%;" role="document" align="center">
    <div class="modal-content">
        <div class="col-lg-12">
            <a href="{% url 'registration_summary_print' object.id %}" class="button" type="submit" style="width:70%;">Print Registration Daily Summary</a>
        </div>
    </div>
    </div>
</div>
<!----Update---->
<form method="POST" action="{% url 'reg_update' object.id %}">
{% csrf_token %}
<div class="modal fade bd-example-modal-lg" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Update Vehicle Registrations</h3>
      </div>

          <div class="modal-body">
            <div class="col-sm-4">
            <label>Plate Number</label>
            <input type="text" name="plate_no" id="plate_no" class="form-control" value={{object.PLATE_NO}}>
        </div>
        <div class="col-sm-4">
            <label>Conduction Sticker Number</label>
            <input type="text" name="cs" id="cs" class="form-control" value="{{object.CS_NO}}">
        </div>
        <div class="col-sm-4">
            <label>CR Name</label>
            <input type="text" name="cr_name" class="form-control" value="{{object.CR_NAME}}">
        </div>
        <div class="col-sm-4">
            <label>Model</label>
            <input type="text" name="model" id="model" class="form-control" value="{{object.MODEL}}">
        </div>
        <div class="col-sm-4">
            <label>Brand</label>
            <input type="text" name="brand" id="brand" class="form-control" value="{{object.BRAND}}">
        </div>
        <div class="col-sm-4">
            <label>Vehicle Make</label>
            <input type="text" name="vmake" id="vmake" class="form-control" value="{{object.VEHICLE_MAKE}}">
        </div>
        <div class="col-sm-4">
            <label>Engine Number</label>
            <input type="text" name="eng_no" id="eng_no" class="form-control" value="{{object.ENGINE_NO}}">
        </div>
        <div class="col-sm-4">
            <label>Chassis Number</label>
            <input type="text" name="chassis_no" id="chassis_no" class="form-control" value="{{object.CHASSIS_NO}}">
        </div>
        <div class="col-sm-4">
            <label>MV File Number</label>
            <input type="text" name="mvfile" id="mvfile" class="form-control" value="{{object.MV_FILE_NO}}">
        </div>
        <div class="col-sm-4">
            <label>COC</label>
            <input type="text" name="coc" id="coc" class="form-control" value="{{object.COC}}">
        </div>
        <div class="col-sm-4">
            <label>Smoke/TPL</label>
            <input type="text" name="smoke" id="smoke" class="form-control" value="{{object.SMOKE_TPL}}">
        </div>
        <div class="col-sm-4">
            <label>Remarks/Registered</label>
            <input name="remarks_registered" id="remarks_registered" class="form-control" value="{{object.REMARKS_REGISTERED}}">
        </div>
        <div class="col-sm-4">
            <label>Date Emailed</label>
            <input type="Date" name="demail" id="demail" class="form-control" value="{{object.DATE_EMAILED}}">
        </div>
        <div class="col-sm-4">
            <label>Remarks/Justification</label>
            <input name="remarks_justification" id="remarks_justification" class="form-control" value="{{object.JUSTIFICATION_REMARKS}}">
        </div>
        <div class="col-sm-4">
        <!-- <label>Email Status</label> -->
        <input type="text" name="email_status" id="email_status" class="form-control" class="form-control" value="{{ object.sent_email}}" hidden>
        </input>
    </div>
      <div class="col-sm-4">
        <label>Email</label>
        <input name="email" id="email" class="form-control" type="email" value="{{ object.email }}"required>
      </div>
      <div class="col-sm-4">
        <label>Date Registered</label>
        <input name="date_reg" id="date_reg" class="form-control" type="Date" value="{{ object.Date_registered }}">
      </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="buttonsubmit">Submit</button>
        <button type="Reset" class="button">Clear All</button>
        <a href="{% url 'registration_jan_reg' %}" class="btn">Close</a>
    </div>
          
</form>
{% endblock %}
