{% extends 'base.html' %}
{% block content %}

<div class="col-md-12">
    <div class="card">
    <div class="card-header">
        <h3>Vechicle Registrations Details</h3>&nbsp;
    </div>

<table width="90%" class="table table-bordered table-hover" border="5px">
    <tr>
       <p><font size="13px" face="ARIAL"><th>SUBJECT:</th><td>REGISTRATION ENDING 1-0 DAILY SUMMARY REPORT</td></font></p>
    
    </tr>
    <tr>
      <p><font size="13px" face="ARIAL"><th>PERSONEL:</th><td>Sample</td></font></p>
    </tr>
    <tr>
      <p><font size="13px" face="ARIAL"><th>LOGOUT:</th><td>5:00PM</td></font></p>
    </tr>
</table>
<table width="90%" class="table table-bordered table-hover" border="5px">
    <tr>
      <th width="25%"></th>
      <th width="25%">Date</th>
      <th width="25%">Remarks</th>

      <th width="25%"></th>
      <th width="25%">Date</th>
      <th width="25%">Remarks</th>
    </tr>
    <tr>
      <th>Ending 1</th> <td></td><td></td>
      <th>Ending 2</th> <td></td><td></td>
    </tr>
    <tr>
      <th>Due for Regs </th><td></td><td></td><td></td>
      <th>Due for Regs </th><td></td><td></td><td></td>
    </tr>
    <tr>
      <th>Registered</th> <td></td><td></td><td></td>
      <th>Registered</th> <td></td><td></td><td></td>
    </tr>
    <tr>
      <th>UnRegistered </th> <td></td><td></td><td></td>
      <th>UnRegistered </th> <td></td><td></td><td></td>
    </tr>
    <tr>
      <th>Completed </th> <td></td><td></td><td></td>
      <th>Completed </th> <td></td><td></td><td></td>
    </tr>
    <tr>
        <th></th><td></td><td></td><td></td>
        <th></th><td></td><td></td><td></td>
    </tr>
    <tr>
      <th>Ending 2</th> <td></td><td></td><td></td>
      <th>Due for Regs </th><td></td><td></td><td></td>
      <th>Registered</th> <td></td><td></td><td></td>
      <th>UnRegistered </th> <td></td><td></td><td></td>
      <th>Completed </th> <td></td><td></td><td></td>
    </tr>
    <tr>
      <th>Ending 3</th> <td></td><td></td><td></td>
      <th>Due for Regs </th><td></td><td></td><td></td>
      <th>Registered</th> <td></td><td></td><td></td>
      <th>UnRegistered </th> <td></td><td></td><td></td>
      <th>Completed </th> <td></td><td></td><td></td>
    </tr>
    <tr>
      <th>Ending 4</th> <td></td><td></td><td></td>
      <th>Due for Regs </th><td></td><td></td><td></td>
      <th>Registered</th> <td></td><td></td><td></td>
      <th>UnRegistered </th> <td></td><td></td><td></td>
      <th>Completed </th> <td></td><td></td><td></td>
    </tr>
    <tr>
      <th>Ending 5</th> <td></td><td></td><td></td>
      <th>Due for Regs </th><td></td><td></td><td></td>
      <th>Registered</th> <td></td><td></td><td></td>
      <th>UnRegistered </th> <td></td><td></td><td></td>
      <th>Completed </th> <td></td><td></td><td></td>
    </tr>
    <tr>
      <th>Ending 6</th> <td></td><td></td><td></td>
      <th>Due for Regs </th><td></td><td></td><td></td>
      <th>Registered</th> <td></td><td></td><td></td>
      <th>UnRegistered </th> <td></td><td></td><td></td>
      <th>Completed </th> <td></td><td></td><td></td>
    </tr>
    <tr>
      <th>Ending 7</th> <td></td><td></td><td></td>
      <th>Due for Regs </th><td></td><td></td><td></td>
      <th>Registered</th> <td></td><td></td><td></td>
      <th>UnRegistered </th> <td></td><td></td><td></td>
      <th>Completed </th> <td></td><td></td><td></td>
    </tr>
    <tr>
      <th>Ending 8</th> <td></td><td></td><td></td>
      <th>Due for Regs </th><td></td><td></td><td></td>
      <th>Registered</th> <td></td><td></td><td></td>
      <th>UnRegistered </th> <td></td><td></td><td></td>
      <th>Completed </th> <td></td><td></td><td></td>
    </tr>
    <tr>
      <th>Ending 9</th> <td></td><td></td><td></td>
      <th>Due for Regs </th><td></td><td></td><td></td>
      <th>Registered</th> <td></td><td></td><td></td>
      <th>UnRegistered </th> <td></td><td></td><td></td>
      <th>Completed </th> <td></td><td></td><td></td>
    </tr>
    <tr>
      <th>Ending 0</th> <td></td><td></td><td></td>
      <th>Due for Regs </th><td></td><td></td><td></td>
      <th>Registered</th> <td></td><td></td><td></td>
      <th>UnRegistered </th> <td></td><td></td><td></td>
      <th>Completed </th> <td></td><td></td><td></td>
    </tr>
</table>
</div>
</div>
          
</form>
{% endblock %}
