{% extends 'base.html' %}
{% block content %}

<style type="text/css">
  th {
    text-align: middle;
  }
</style>

<div class="col-md-12">
    <div class="card">
    <div class="card-header">
        <h3>Fleet Card Daily Report</h3>&nbsp;
        <a href="{% url 'daily_report' %}" style="float:right"><u>Export Report</u></a><br>
        <a href="{% url 'Fcm_list' %}" style="float:right"><u>Close</u></a>
    </div>

<table width="90%" class="table table-bordered table-hover" border="5px">
  <tr>
    <th width="10%">Date</th><td width="10%"><b>{{ date }}</td>

  </tr>
  <tr>
      <td></td>
  </tr>
  <tr>
    <th width="10%">Vendor</th>
    <th width="10%">TOTAL</th>
  </tr>
  <tr>
    <th></th>
  <tr>
    <th width="10%">Fleet Card Processed</th><td>{{ fleetCard_report }}</td>
  </tr>
   <th width="10%">Prepared Certification</th><td></td>
  </tr>
  <tr>
    <th width="10%">Prepared for DTD/Pick up Cards</th><td></td>
  </tr>
  <tr>
    <th width="10%">Inbound Fleet Cards</th><td></td>
  </tr>
  <tr>
    <th width="10%">Issued Fleet Cards</th><td>{{ fleetCard_issued }}</td>
  </tr>
   <th width="10%">Billing Processed</th><td></td>
  </tr>
  <tr>
    <th width="10%">Vehicle Repair Request</th><td></td>
  </tr>
  <tr>
    <th width="10%">PMS/TIRES/BATTERY</th><td></td>
  </tr>
  <tr>
    <th width="10%">CM</th><td></td>

</table>


{% endblock %}
