<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width-device-width, initial-scale-1.0">
</head>

<body>
Hi Ka Globe!<br><br>

<p>
Good day! The purpose of this process is to confirm and validate the accountability of the vehicle assigned to you by Globe.<br>
The information you provide will be referenced by Globe’s Fixed Assets and Human Resources groups. Deadline for confirmation is <b>five (5) days</b> after this email notice has been sent. Please follow these simple steps:<br><br>


<table width="100%" class="table table-bordered table-hover" border="5px">
	<tr>
		<th>Plate Number</th>
		<th>CS Number</th>
		<th>CR Name</th>
		<th>Model</th>
		<th>Brand</th>
		<th>Vehicle Make</th>
		<th>Vehicle Type</th>
		<th>Assignee</th>
		<th>Acq Date</th>
		<th>Location/Area</th>
	</tr>
	<tr>
		<td>{{plate}}</td>
		<td>{{cs}}</td>
		<td>{{cr_name}}</td>
		<td>{{model}}</td>
		<td>{{brand}}</td>
		<td>{{make}}</td>
		<td>{{type}}</td>
		<td>{{lname}},&nbsp;{{fname}}</td>
		<td>{{acq_date}}</td>
		<td>{{location}}/{{area}}</td>
	</tr>

</table>
<br><br>

<b><span style="color:Blue;">1.&nbsp;The Vehicle Is Still Under Your Accountability</span></b><br>

Please send an email reply “<b>VEHICLE CONFIRMED</b>” to <b>Cristina Dominguez</b> (cristina.dominguez@globe.com.ph).<br><br>


<b><span style="color:Blue;">2. The Vehicle Is NOT Under Your Accountability </span></b><br>
Please send a copy the following document to <b>Cristina Dominguez </b>(cristina.dominguez@globe.com.ph):<br>
a. Copy of the <b>approved Fixed Assets Transfer Accountability (FATA)</b> form (PDF or JPG format).<br>
b. If the approved FATA form is not available, please coordinate with Cristina Dominguez.<br><br><br>


Thank you. Hoping for your cooperation on the matter. Stay safe on the road.<br>
<br><br>
<b>Fleet Management Team</b><br>
Procurement and Logistics<br><br>

<b>Globe Telecom, Inc.</b><br>
4/F Globe Tower Plaza 2<br>
Pioneer corner Madison Streets<br>
Mandaluyong City, Metro Manila<br><br>

Mobile: (0917) 588-9942

</body>
</html>