<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width-device-width, initial-scale-1.0">
</head>
<style type="text/css">
    ul.b {
  list-style-position: inside;
  }
  h3{
    color: blue;
  }
</style>
<body>
<h2><b> Hi Ka Globe,</b></h2><br>

<p>Good day,<br><br>

As per Fleet's Vehicle Master List, the below unit is under your accountability; we would like to confirm and validate if all the information is correct to update the masterlist. <br><br>
 
If this is not already in your accountability and if transferred to another employee or return to the fleet; may we request a copy of the approved FATA. <br><br>
 
(if no FATA yet, please  advise so we could  coordinate to Fixed Asset for FATA Form). Thank you.<br><br>
 
This is being done every year to validate and update the correctness of the master list as it is being used by FA and HR</p>

<table width="100%" class="table table-bordered table-hover" border="5px">
	<tr>
		<th>Plate Number</th>
		<th>CS Number</th>
		<th>CR Name</th>
		<th>Model</th>
		<th>Brand</th>
		<th>Vehicle Make</th>
		<th>Vehicle Type</th>
		<th>Assignee</th>
		<th>Band</th>
		<th>Cost Center</th>
		<th>Group</th>
		<th>Acq Date</th>
		<th>Acq Cost</th>
	</tr>
	<tr>
		<td>{{plate}}</td>
		<td>{{cs}}</td>
		<td>{{cr_name}}</td>
		<td>{{model}}</td>
		<td>{{brand}}</td>
		<td>{{make}}</td>
		<td>{{type}}</td>
		<td>{{lname}}{{fname}}</td>
		<td>{{band}}</td>
		<td>{{cost}}</td>
		<td>{{group}}</td>
		<td>{{acq_date}}</td>
		<td>{{acq_cost}}</td>
	</tr>

</table>
</body>
</html>