<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width-device-width, initial-scale-1.0">
</head>

<body>
Hi Ka Globe!<br><br>

<p>Good day! This email notice is to remind you of your upcoming <b>Annual Vehicle Registration</b> and <b>Vehicle Confirmation</b>. We request you to take the following action on the aforementioned:</p>

<table width="100%" class="table table-bordered table-hover" border="5px">
	<tr>
		<th>Plate Number</th>
		<th>CS Number</th>
		<th>CR Name</th>
		<th>Model</th>
		<th>Brand</th>
		<th>Vehicle Make</th>
		<th>Vehicle Type</th>
		<th>Assignee</th>
		<th>Acq Date</th>
	</tr>
	<tr>
		<td>{{plate}}</td>
		<td>{{cs}}</td>
		<td>{{cr_name}}</td>
		<td>{{model}}</td>
		<td>{{brand}}</td>
		<td>{{make}}</td>
		<td>{{type}}</td>
		<td>{{lname}},&nbsp;{{fname}}</td>
		<td>{{acq_date}}</td>
	</tr>

</table>
<br><br>
<b><span style="color:Blue;">A.&nbsp;&nbsp;&nbsp;&nbsp;VEHICLE CONFIRMATION</span></b><br>
&#9679;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The purpose of this process is to confirm and validate the accountability of the vehicle assigned to you by Globe Telecom.<br>
&#9679;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The information you provide will be referenced by Globe’s Fixed Assets and Human Resources groups. Please follow these simple steps:<br><br>

<b><span style="color:Blue;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A.1. If Vehicle Is Still Under Your Accountability</span></b><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please send an email reply “<b>VEHICLE CONFIRMED</b>” to <b>Stephanie Warde</b> (zsbwarde@globe.com.ph).<br><br>

<b><span style="color:Blue;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A.2. If Vehicle Is NOT Under Your Accountability</span></b><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please send a copy the following document to Stephanie Warde (zsbwarde@globe.com.ph):<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9675;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copy of the <b>approved Fixed Assets Transfer Accountability (FATA)</b> form (PDF or JPG format).<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9675;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If the approved FATA form is not available, please coordinate with Stephanie Warde.<br><br>

<b><span style="color:Blue;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A.3. Deadline For Vehicle Confirmation</span></b><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deadline for confirmation is <b>five (5) days</b> after this email notice has been sent.<br><br><br>

 
<b><span style="color:Blue;">B.&nbsp;&nbsp;&nbsp;&nbsp;ANNUAL VEHICLE REGISTRATION</span></b><br>

&#9679;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This notice is for employees with Globe car plans and service vehicles.<br>
&#9679;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NOT included in this notice are:<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9675;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Globe employees with vehicle units under leasing – Click, Orix and Diamond.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9675;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Globe employees with vehicle units that are 1-2 years old.<br><br>

<b><span style="color:Blue;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B.1. Instructions For Employees Based In Metro Manila</span></b><br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>B.1.1. Smoke Emission Test</b><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To start the registration process, bring your respective Globe vehicle to our authorized smoke emission testing center at the address below:<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Testing Center:</b> BOHER EMISSION TESTING CENTER<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Address:</b>  501 Boni Avenue, Brgy. Plainview, Mandaluyong City<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Contact Person:</b>  Ms. Anelle Medina<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Operating hours:</b>  7:30am-5:00pm (Monday to Friday)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Requirements:</b>  Two (2) copies of OR/CR (NO copy of OR/CR, NO emission test)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>No reservations. “First Come,First Served Basis” only.</b> <br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>B.1.2. Test Results</b><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There is NO need to get a copy of the smoke emission test results. Our Fleet Team will be collating the test results instead.<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>B.1.3. Other Options</b><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As an option, you may also choose to proceed to another authorized smoke emission center of your preference and we will just reimburse <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the testing fee.Kindly provide us the test result together with the official receipt before the specified deadline.<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Send the original copies to:
<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Jerald Perez</b> (zjaperez@globe.com.ph), (0917) 588-9942<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4/F, Globe Telecom Plaza 2, Pioneer corner Madison Streets, Mandaluyong City<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>B.1.4. Deadline</b><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deadline for smoke emission testing is <b>ten (10) days</b> after this email notice has been sent.<br><br><br>


<b><span style="color:Blue;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B.2. Instructions For Employees Based Outside Metro Manila</span></b><br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>B.2.1. Smoke Emission Test</b><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To start the registration process, bring your respective Globe vehicle to any LTO accredited smoke emission testing center near<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;your area for the smoke emission test.<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>B.2.2. Test Results</b><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please send the original and soft copies to:<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jerald Perez (zjaperez@globe.com.ph), (0917) 588-9942<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4/F, Globe Telecom Plaza 2, Pioneer corner Madison Streets, Mandaluyong City<br><br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>B.2.3. Deadline</b><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deadline for smoke emission testing is ten (10) days after this email notice has been sent.<br><br><br><br>

 

For further queries, you may reach any of our Fleet Team members at:<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Shane Santos</b> - zscsantos@globe.com.ph<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Stephanie Warde</b> - zsbwarde@globe.com.ph<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Jerald Perez</b> - zjaperez@globe.com.ph<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Mobile Number:</b> (0917) 588-9942<br>
<br>
<br>
 

Thank you for your cooperation. Stay safe on the road!.
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>