{% extends 'base.html' %}
{% block content %}

<style type="text/css">
    th{
        text-align: center;
    }
</style>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="breadcrumbs">
    <div class="col-sm-12">
        <h3 class="page-header"><b>Corrective Maintenance</b></h3>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                    <a href="{% url 'corrective_export' %}" style="float: left"><b>Export Data</b> /</a>
                    <a href="{% url 'v_maitenance_details' %}" style="float: left"><b>View Report</b> </a>
                    
                    <a href="{% url 'corrective_create' %}" style="float:right"><b>Create</b>&nbsp;&nbsp;&nbsp;</a>
                    <a href="{% url 'corrective_history' %}" style="float:right" class="mr-3"><b> History</b></a>
                </div>
                <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Activity ID</th>
                            <th>Requisitioner Name</th>
                            <th>Plate Number</th>
                            <th>Brand</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Conduction Sticker</th>
                            <th>Work Order Number</th>
                            <th>Date Initiated</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                     <tbody>
                        {% for corrective in object_list %}
                        <tr class="odd gradeX">
                            <td><a href="{% url 'corrective_details' corrective.id %}">{{ corrective.Activity_id }}</a></td>
                            <td>{{ corrective.first_name }} {{ corrective.last_name }}</td>
                            <td>{{ corrective.plate_no }}</td>
                            <td>{{ corrective.v_brand }}</td>
                            <td>{{ corrective.v_make }}</td>
                            <td>{{ corrective.v_model }}</td>
                            <td>{{ corrective.cond_sticker }}</td>
                            <td>{{ corrective.work_order1 }}</td>
                            <td>{{ corrective.date_initiated | date:'D d M Y'}}</td>
                            <td>{{ corrective.status }}</td>
                            <td>
                                <button type="button" class="delete-corrective btn-sm btn-danger rounded" data-id="{% url 'corrective_delete' corrective.pk %}">
                                <span class="fa fa-trash"></span>
                                </button>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody> 
                    </table>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
    <!-- /.row -->
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
  $(function() {
    // Delete book buttons
    $("#example").on('mouseover', '.delete-corrective', function() {
      $(this).modalForm({
        formURL: $(this).data('id')
      });
    });

  });
</script>
{% endblock extrascripts %}


