{% extends 'base.html' %}
{% block content %}

<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>

<div class="breadcrumbs">
    <div class="col-sm-12">
        <h3><b>Registration Email Log</b></h3>
    </div>
</div>


<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <table id="example" class="display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Plate Number</th>
                            <th>Conductions Sticker Number</th>
                            <th>CR Name</th>
                            <th>Model</th>
                            <th>Brand</th>
                            <th>Vehicle Make</th>
                            <th>Engine Number</th>
                            <th>Chassis Number</th>
                            <th>MV File</th>
                            <th>Smoke/TPL</th>
                            <th>COC</th>
                            <th>Date Emailed</th>
                            <th>Justification Remarks</th>
                            <th>Remark Registered</th>
                            <th>Emailed</th>
                           
                        </tr>
                        
                    </thead>
                    <tbody>
                        {% for object in email_log %}
                        <tr class="odd gradeX">
                            <td><a href="{% url 'vregistration_details' object.id %}">{{ object.PLATE_NO }}</a></td>
                            <td>{{ object.CS_NO }}</td>
                            <td>{{ object.CR_NAME }}</td>
                            <td>{{ object.MODEL }}</td>
                            <td>{{ object.BRAND }}</td>
                            <td>{{ object.VEHICLE_MAKE }}</td>
                            <td>{{ object.ENGINE_NO }}</td>
                            <td>{{ object.CHASSIS_NO }}</td>
                            <td>{{ object.MV_FILE_NO }}</td>    
                            <td>{{ object.SMOKE_TPL }}</td>
                            <td>{{ object.COC }}</td>
                            <td>{{ object.DATE_EMAILED }}</td>   
                            <td>{{ object.JUSTIFICATION_REMARKS }}</td> 
                            <td>{{ object.REMARKS_REGISTERED }}</td>
                            <td>{{ object.Status}}</td>      
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
{% endblock %}
