{% extends 'base.html' %}
{% block content %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<style type="text/css">
  th {
    text-align: middle;
  }
</style>

<div class="col-md-12">
    <div class="card">
    <div class="card-header">
        <h3>Shell Summary - {{ month }}</h3>&nbsp;
    </div>

<table width="90%" class="table table-bordered table-hover" border="5px">
    <tr>
        <th width="25%"><font size="3"><b>Cost Center</b></font></th>
        <th width="25%"><font size="3">Sum of DelcoGrossValue</b></font></th>
        <th width="25%"><font size="3">Sum of RebateCustAmount</b></font></th>
    </tr>
        <tr>
            <th>BB14-B10</th><td>{{ BB14_B10}}</td><td>{{ rebate_BB14_B10}}</td>
        </tr>
        <tr>
            <th>BB14-B2</th><td>{{ BB14_B2 }}</td><td>{{ rebate_BB14_B2 }}</td>
        </tr>
        <tr>
            <th>BB14-B3</th><td>{{ BB14_B3 }}</td><td>{{ rebate_BB14_B3 }}</td>
        </tr>
        <tr>
            <th>BB14-B4</th><td>{{ BB14_B4 }}</td><td>{{ rebate_BB14_B4 }}</td>
        </tr>
        <tr>
            <th>BB14-B5</th><td>{{ BB14_B5 }}</td><td>{{ rebate_BB14_B5 }}</td>
        </tr>
        <tr>
            <th>BB14-B6</th><td>{{ BB14_B6 }}</td><td>{{ rebate_BB14_B6 }}</td>
        </tr>
        <tr>
            <th>BB14-B7</th><td>{{ BB14_B7 }}</td><td>{{ rebate_BB14_B7 }}</td>
        </tr>
        <tr>
            <th>BB14-B8</th><td>{{ BB14_B8 }}</td><td>{{ rebate_BB14_B8 }}</td>
        </tr>
        <tr>
            <th>BB14-E</th><td>{{ BB14_E }}</td><td>{{ rebate_BB14_E }}</td>
        </tr>
        <tr>
            <th>CMB4-B</th><td>{{ CMB4_B }}</td><td>{{ rebate_CMB4_B }}</td>
        </tr>
        <tr>
            <th>CMG12-D</th><td>{{ CMG12_D }}</td><td>{{ rebate_CMG12_D }}</td>
        </tr>
        <tr>
            <th>CMG2-B1</th><td>{{ CMG2_B1 }}</td><td>{{ rebate_CMG2_B1 }}</td>
        </tr>
        <tr>
            <th>CMG2-B3</th><td>{{ CMG2_B3 }}</td><td>{{ rebate_CMG2_B3 }}</td>
        </tr>
        <tr>
            <th>CMG2-C1</th><td>{{ CMG2_C1 }}</td><td>{{ rebate_CMG2_C1 }}</td>
        </tr>
        <tr>
            <th>CMG2-C2</th><td>{{ CMG2_C2 }}</td><td>{{ rebate_CMG2_C2 }}</td>
        </tr>
        <tr>
            <th>CMG2-C3</th><td>{{ CMG2_C3 }}</td><td>{{ rebate_CMG2_C3 }}</td>
        </tr>
        <tr>
            <th>CMG2-C4</th><td>{{ CMG2_C4 }}</td><td>{{ rebate_CMG2_C4 }}</td>
        </tr>
        <tr>
            <th>CMG2-C5-B</th><td>{{ CMG2_C5_B }}</td><td>{{ rebate_CMG2_C5_B }}</td>
        </tr>
        <tr>
            <th>CMG2-C5-C</th><td>{{ CMG2_C5_C }}</td><td>{{ rebate_CMG2_C5_C }}</td>
        </tr>
        <tr>
            <th>CMG2-C5-G</th><td>{{ CMG2_C5_G }}</td><td>{{ rebate_CMG2_C5_G }}</td>
        </tr>
        <tr>
            <th>CMG2-D1</th><td>{{ CMG2_D1 }}</td><td>{{ rebate_CMG2_D1 }}</td>
        </tr>
        <tr>
            <th>CMG2-D2</th><td>{{ CMG2_D2 }}</td><td>{{ rebate_CMG2_D2 }}</td>
        </tr>
        <tr>
            <th>CMG2-D3</th><td>{{ CMG2_D3 }}</td><td>{{ rebate_CMG2_D3 }}</td>
        </tr>
        <tr>
            <th>CMG2-E2</th><td>{{ CMG2_D3 }}</td><td>{{ rebate_CMG2_D3 }}</td>
        </tr>
        <tr>
            <th>CMG2-E3</th><td>{{ CMG2_E3 }}</td><td>{{ rebate_CMG2_E3 }}</td>
        </tr>
        <tr>
            <th>CMG2-F1</th><td>{{ CMG2_F1 }}</td><td>{{ rebate_CMG2_F1 }}</td>
        </tr>
        <tr>
            <th>CMG2-F2</th><td>{{ CMG2_F2 }}</td><td>{{ rebate_CMG2_F2 }}</td>
        </tr>
        <tr>
            <th>CMG2-F3</th><td>{{ CMG2_F3 }}</td><td>{{ rebate_CMG2_F3 }}</td>
        </tr>
        <tr>
            <th>CMG3-A</th><td>{{ CMG3_A }}</td><td>{{ rebate_CMG3_A }}</td>
        </tr>
        <tr>
            <th>CMG4-B</th><td>{{ CMG4_B }}</td><td>{{ rebate_CMG4_B }}</td>
        </tr>
        <tr>
            <th>CMG4-C</th><td>{{ CMG4_C }}</td><td>{{ rebate_CMG4_C }}</td>
        </tr>
        <tr>
            <th>CMG4-D</th><td>{{ CMG4_D }}</td><td>{{ rebate_CMG4_D }}</td>
        </tr>
        <tr>
            <th>CMG4-E</th><td>{{ CMG4_E }}</td><td>{{ rebate_CMG4_E }}</td>
        </tr>
        <tr>
            <th>CMG4-F</th><td>{{ CMG4_F }}</td><td>{{ rebate_CMG4_F }}</td>
        </tr>
        <tr>
            <th>CMG4-G</th><td>{{ CMG4_G }}</td><td>{{ rebate_CMG4_G }}</td>
        </tr>
        <tr>
            <th>CMG5-D</th><td>{{ CMG5_D }}</td><td>{{ rebate_CMG5_D }}</td>
        </tr>
        <tr>
            <th>CMG5-E</th><td>{{ CMG5_E }}</td><td>{{ rebate_CMG5_E }}</td>
        </tr>
        <tr>
            <th>CMG5-G</th><td>{{ CMG5_G }}</td><td>{{ rebate_CMG5_G }}</td>
        </tr>
        <tr>
            <th>CMG6-E</th><td>{{ CMG6_E }}</td><td>{{ rebate_CMG6_E }}</td>
        </tr>
        <tr>
            <th>CRA6-A</th><td>{{ CRA6_A }}</td><td>{{ rebate_CRA6_A }}</td>
        </tr>
        <tr>
            <th>EIG09-A</th><td>{{ EIG09_A }}</td><td>{{ rebate_EIG09_A }}</td>
        </tr>
        <tr>
            <th>FIN13-K1</th><td>{{ FIN13_K1 }}</td><td>{{ rebate_FIN13_K1 }}</td>
        </tr>
        <tr>
            <th>FIN13-K2</th><td>{{ FIN13_K2 }}</td><td>{{ rebate_FIN13_K2 }}</td>
        </tr>
        <tr>
            <th>FIN22-D1b</th><td>{{ FIN22_D1b }}</td><td>{{ rebate_FIN22_D1b }}</td>
        </tr>
        <tr>
            <th>FIN22-D2a</th><td>{{ FIN22_D2a }}</td><td>{{ rebate_FIN22_D2a }}</td>
        </tr>
        <tr>
            <th>FIN23-C1 </th><td>{{ FIN23_C1 }}</td><td>{{ rebate_FIN23_C1 }}</td>
        </tr>
        <tr>
            <th>FIN9-C0301</th><td>{{ FIN9_C0301 }}</td><td>{{ rebate_FIN9_C0301 }}</td>
        </tr>
        <tr>
            <th>FIN9-E02</th><td>{{ FIN9_E02 }}</td><td>{{ rebate_FIN9_E02 }}</td>
        </tr>
        <tr>
            <th>FIN9-F0201</th><td>{{ FIN9_F0201 }}</td><td>{{ rebate_FIN9_F0201 }}</td>
        </tr>
        <tr>
            <th>FIN-F0201</th><td>{{ FIN_F0201 }}</td><td>{{ rebate_FIN_F0201 }}</td>
        </tr>
        <tr>
            <th>GEG02-A</th><td>{{ GEG02_A }}</td><td>{{ rebate_GEG02_A }}</td>
        </tr>
        <tr>
            <th>GEG02-B</th><td>{{ GEG02_B }}</td><td>{{ rebate_GEG02_B }}</td>
        </tr>
        <tr>
            <th>GEG02-C</th><td>{{ GEG02_C }}</td><td>{{ rebate_GEG02_C }}</td>
        </tr>
        <tr>
            <th>GEG02-D</th><td>{{ GEG02_D }}</td><td>{{ rebate_GEG02_D }}</td>
        </tr>
        <tr>
            <th>GEG02-E</th><td>{{ GEG02_E }}</td><td>{{ rebate_GEG02_E }}</td>
        </tr>
        <tr>
            <th>GEG02-F</th><td>{{ GEG02_F }}</td><td>{{ rebate_GEG02_F }}</td>
        </tr>
        <tr>
            <th>GEG02-G</th><td>{{ GEG02_G }}</td><td>{{ rebate_GEG02_G }}</td>
        </tr>
        <tr>
            <th>GEG02-H</th><td>{{ GEG02_H }}</td><td>{{ rebate_GEG02_H }}</td>
        </tr>
        <tr>
            <th>GEG02-K </th><td>{{ GEG02_K }}</td><td>{{ rebate_GEG02_K }}</td>
        </tr>
        <tr>
            <th>GEG04-B</th><td>{{ GEG04_B }}</td><td>{{ rebate_GEG04_B }}</td>
        </tr>
        <tr>
            <th>GENT-F2011</th><td>{{ GENT_F2011 }}</td><td>{{ rebate_GENT_F2011 }}</td>
        </tr>
        <tr>
            <th>NTT2-D06-E</th><td>{{ NTT2_D06_E }}</td><td>{{ rebate_NTT2_D06_E }}</td>
        </tr>
        <tr>
            <th>NTT2-D5-03</th><td>{{ NTT2_D5_03 }}</td><td>{{ rebate_NTT2_D5_03 }}</td>
        </tr>
        <tr>
            <th>NTT2-D5-05</th><td>{{ TT2_D5_05 }}</td><td>{{ rebate_NTT2_D5_05 }}</td>
        </tr>
        <tr>
            <th>NTT2-D6-03</th><td>{{ NTT2_D6_03 }}</td><td>{{ rebate_NTT2_D6_03 }}</td>
        </tr>
        <tr>
            <th>NTT2-D6-05</th><td>{{ NTT2_D6_05 }}</td><td>{{ rebate_NTT2_D6_05 }}</td>
        </tr>
        <tr>
            <th>NTT2-F4</th><td>{{ NTT2_F4 }}</td><td>{{ rebate_NTT2_F4 }}</td>
        </tr>
        <tr>
            <th>NTT2-G4</th><td>{{ NTT2_G4 }}</td><td>{{ rebate_NTT2_G4 }}</td>
        </tr>
        <tr>
            <th>NTT2-H3</th><td>{{ NTT2_G4 }}</td><td>{{ rebate_NTT2_G4 }}</td>
        </tr>
        <tr>
            <th>NTT3-B5</th><td>{{ NTT3_B5 }}</td><td>{{ rebate_NTT3_B5 }}</td>
        </tr>
        <tr>
            <th>NTT3-D5</th><td>{{ NTT3_D5 }}</td><td>{{ rebate_NTT3_D5 }}</td>
        </tr>
        <tr>
            <th>NTT5-B05A</th><td>{{ NTT5_B05A }}</td><td>{{ rebate_NTT5_B05A }}</td>
        </tr>
        <tr>
            <th>NTT5-B06</th><td>{{ NTT5_B06 }}</td><td>{{ rebate_NTT5_B06 }}</td>
        </tr>
        <tr>
            <th>NTT5-C01 </th><td>{{ NTT5_C01 }}</td><td>{{ rebate_NTT5_C01 }}</td>
        </tr>
        <tr>
            <th>NTT5-D01</th><td>{{ NTT5_D01 }}</td><td>{{ rebate_NTT5_D01 }}</td>
        </tr>
        <tr>
            <th>NTT5-D02</th><td>{{ NTT5_D02 }}</td><td>{{ rebate_NTT5_D02 }}</td>
        </tr>
        <tr>
            <th>NTT5-E03</th><td>{{ NTT5_E03 }}</td><td>{{ rebate_NTT5_E03 }}</td>
        </tr>
        <tr>
            <th>NTT5-E04</th><td>{{ NTT5_E04 }}</td><td>{{ rebate_NTT5_E04 }}</td>
        </tr>
        <tr>
            <th>NTT5-G01</th><td>{{ NTT5_G01 }}</td><td>{{ rebate_NTT5_G01 }}</td>
        </tr>
        <tr>
            <th>NTT5-G02</th><td>{{ NTT5_G02 }}</td><td>{{ rebate_NTT5_G02 }}</td>
        </tr>
        <tr>
            <th>NTT5-G03</th><td>{{ NTT5_G03 }}</td><td>{{ rebate_NTT5_G03 }}</td>
        </tr>
        <tr>
            <th>NTT5-H01</th><td>{{ NTT5_H01 }}</td><td>{{ rebate_NTT5_H01 }}</td>
        </tr>
        <tr>
            <th>NTT5-H03</th><td>{{ NTT5_H03 }}</td><td>{{ rebate_NTT5_H03 }}</td>
        </tr>
        <tr>
            <th>NTT5-I01</th><td>{{ NTT5_I01 }}</td><td>{{ rebate_NTT5_I01 }}</td>
        </tr>
        <tr>
            <th>NTT5-I02</th><td>{{ NTT5_I02 }}</td><td>{{ rebate_NTT5_I02 }}</td>
        </tr>
        <tr>
            <th>NTT5-I03</th><td>{{ NTT5_I03 }}</td><td>{{ rebate_NTT5_I03 }}</td>
        </tr>
        <tr>
            <th>NTT5-J01</th><td>{{ NTT5_J01 }}</td><td>{{ rebate_NTT5_J01 }}</td>
        </tr>
        <tr>
            <th>NTT5-J02</th><td>{{ NTT5_J02 }}</td><td>{{ rebate_NTT5_J02 }}</td>
        </tr>
        <tr>
            <th>NTT5-J03</th><td>{{ NTT5_J03 }}</td><td>{{ rebate_NTT5_J03 }}</td>
        </tr>
        <tr>
            <th>NTT6-C</th><td>{{ NTT6_C }}</td><td>{{ rebate_NTT6_C }}</td>
        </tr>
        <tr>
            <th>NTT7-E</th><td>{{ NTT7_E }}</td><td>{{ rebate_NTT7_E }}</td>
        </tr>
        <tr>
            <th>OP12-A</th><td>{{ OP12_A }}</td><td>{{ rebate_OP12_A }}</td>
        </tr>
        <tr>
            <th>SG02-O</th><td>{{ SG02_O }}</td><td>{{ rebate_SG02_O }}</td>
        </tr>
        <tr>
            <th>SG02-O2</th><td>{{ SG02_O2 }}</td><td>{{ rebate_SG02_O2 }}</td>
        </tr>
        <tr>
            <th>SG02-P</th><td>{{ SG02_P }}</td><td>{{ rebate_SG02_P }}</td>
        </tr>
        <tr>
            <th>SG02-Q</th><td>{{ SG02_Q }}</td><td>{{ rebate_SG02_Q }}</td>
        </tr>
        <tr>
            <th>SG02-Q2</th><td>{{ SG02_Q2 }}</td><td>{{ rebate_SG02_Q2 }}</td>
        </tr>
        <tr>
            <th>SG02-R</th><td>{{ SG02_R }}</td><td>{{ rebate_SG02_R }}</td>
        </tr>
        <tr>
            <th>SG02-U</th><td>{{ SG02_U }}</td><td>{{ rebate_SG02_U }}</td>
        </tr>
        <tr>
            <th>SG11-A</th><td>{{ SG11_A }}</td><td>{{ rebate_SG11_A }}</td>
        </tr>
        <tr>
            <th>ST1</th><td>{{ ST1 }}</td><td>{{ rebate_ST1 }}</td>
        </tr>
        <tr>
           
        </tr>
        <tr>
           
        </tr>
        <tr>
            <th style="font-size: 20px">Total</th><td style="font-size: 20px"><b>{{ grand_total }}</td><td style="font-size: 20px"><b>{{ reb_grand_total }}</td>
        </tr>

</table>


{% endblock %}
