{% extends 'base.html' %}
{% block content %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<style type="text/css">
  th {
    text-align: middle;
  }
</style>

<div class="col-md-12">
    <div class="card">
    <div class="card-header">
        <h3>Shell Summary</h3>&nbsp;
    </div>

<table width="90%" class="table table-bordered table-hover" border="5px">
    <tr>
        <th width="25%"><font size="3"><b>Cost Center</b></font></th>
        <th width="25%"><font size="3">Sum of DelcoGrossValue</b></font></th>
        <th width="25%"><font size="3">Sum of RebateCustAmount</b></font></th>
    </tr>
        <tr>
            <th>BB14-B10</th><td>{{ BB14_B10.DelcoGrossValue__sum}}</td><td>{{ rebate_BB14_B10.RebateCustAmount__sum}}</td>
        </tr>
        <tr>
            <th>BB14-B2</th><td>{{ BB14_B2.DelcoGrossValue__sum }}</td><td>{{ rebate_BB14_B2.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>BB14-B3</th><td>{{ BB14_B3.DelcoGrossValue__sum }}</td><td>{{ rebate_BB14_B3.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>BB14-B4</th><td>{{ BB14_B4.DelcoGrossValue__sum }}</td><td>{{ rebate_BB14_B4.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>BB14-B5</th><td>{{ BB14_B5.DelcoGrossValue__sum }}</td><td>{{ rebate_BB14_B5.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>BB14-B6</th><td>{{ BB14_B6.DelcoGrossValue__sum }}</td><td>{{ rebate_BB14_B6.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>BB14-B7</th><td>{{ BB14_B7.DelcoGrossValue__sum }}</td><td>{{ rebate_BB14_B7.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>BB14-B8</th><td>{{ BB14_B8.DelcoGrossValue__sum }}</td><td>{{ rebate_BB14_B8.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>BB14-E</th><td>{{ BB14_E.DelcoGrossValue__sum }}</td><td>{{ rebate_BB14_E.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMB4-B</th><td>{{ CMB4_B.DelcoGrossValue__sum }}</td><td>{{ rebate_CMB4_B.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG12-D</th><td>{{ CMG12_D.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG12_D.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-B1</th><td>{{ CMG2_B1.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_B1.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-B3</th><td>{{ CMG2_B3.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_B3.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-C1</th><td>{{ CMG2_C1.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_C1.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-C2</th><td>{{ CMG2_C2.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_C2.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-C3</th><td>{{ CMG2_C3.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_C3.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-C4</th><td>{{ CMG2_C4.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_C4.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-C5-B</th><td>{{ CMG2_C5_B.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_C5_B.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-C5-C</th><td>{{ CMG2_C5_C.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_C5_C.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-C5-G</th><td>{{ CMG2_C5_G.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_C5_G.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-D1</th><td>{{ CMG2_D1.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_D1.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-D2</th><td>{{ CMG2_D2.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_D2.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-D3</th><td>{{ CMG2_D3.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_D3.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-E2</th><td>{{ CMG2_D3.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_D3.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-E3</th><td>{{ CMG2_E3.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_E3.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-F1</th><td>{{ CMG2_F1.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_F1.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-F2</th><td>{{ CMG2_F2.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_F2.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG2-F3</th><td>{{ CMG2_F3.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG2_F3.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG3-A</th><td>{{ CMG3_A.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG3_A.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG4-B</th><td>{{ CMG4_B.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG4_B.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG4-C</th><td>{{ CMG4_C.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG4_C.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG4-D</th><td>{{ CMG4_D.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG4_D.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG4-E</th><td>{{ CMG4_E.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG4_E.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG4-F</th><td>{{ CMG4_F.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG4_F.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG4-G</th><td>{{ CMG4_G.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG4_G.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG5-D</th><td>{{ CMG5_D.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG5_D.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG5-E</th><td>{{ CMG5_E.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG5_E.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG5-G</th><td>{{ CMG5_G.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG5_G.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CMG6-E</th><td>{{ CMG6_E.DelcoGrossValue__sum }}</td><td>{{ rebate_CMG6_E.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>CRA6-A</th><td>{{ CRA6_A.DelcoGrossValue__sum }}</td><td>{{ rebate_CRA6_A.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>EIG09-A</th><td>{{ EIG09_A.DelcoGrossValue__sum }}</td><td>{{ rebate_EIG09_A.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>FIN13-K1</th><td>{{ FIN13_K1.DelcoGrossValue__sum }}</td><td>{{ rebate_FIN13_K1.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>FIN13-K2</th><td>{{ FIN13_K2.DelcoGrossValue__sum }}</td><td>{{ rebate_FIN13_K2.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>FIN22-D1b</th><td>{{ FIN22_D1b.DelcoGrossValue__sum }}</td><td>{{ rebate_FIN22_D1b.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>FIN22-D2a</th><td>{{ FIN22_D2a.DelcoGrossValue__sum }}</td><td>{{ rebate_FIN22_D2a.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>FIN23-C1 </th><td>{{ FIN23_C1.DelcoGrossValue__sum }}</td><td>{{ rebate_FIN23_C1.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>FIN9-C0301</th><td>{{ FIN9_C0301.DelcoGrossValue__sum }}</td><td>{{ rebate_FIN9_C0301.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>FIN9-E02</th><td>{{ FIN9_E02.DelcoGrossValue__sum }}</td><td>{{ rebate_FIN9_E02.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>FIN9-F0201</th><td>{{ FIN9_F0201.DelcoGrossValue__sum }}</td><td>{{ rebate_FIN9_F0201.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>FIN-F0201</th><td>{{ FIN_F0201.DelcoGrossValue__sum }}</td><td>{{ rebate_FIN_F0201.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>GEG02-A</th><td>{{ GEG02_A.DelcoGrossValue__sum }}</td><td>{{ rebate_GEG02_A.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>GEG02-B</th><td>{{ GEG02_B.DelcoGrossValue__sum }}</td><td>{{ rebate_GEG02_B.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>GEG02-C</th><td>{{ GEG02_C.DelcoGrossValue__sum }}</td><td>{{ rebate_GEG02_C.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>GEG02-D</th><td>{{ GEG02_D.DelcoGrossValue__sum }}</td><td>{{ rebate_GEG02_D.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>GEG02-E</th><td>{{ GEG02_E.DelcoGrossValue__sum }}</td><td>{{ rebate_GEG02_E.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>GEG02-F</th><td>{{ GEG02_F.DelcoGrossValue__sum }}</td><td>{{ rebate_GEG02_F.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>GEG02-G</th><td>{{ GEG02_G.DelcoGrossValue__sum }}</td><td>{{ rebate_GEG02_G.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>GEG02-H</th><td>{{ GEG02_H.DelcoGrossValue__sum }}</td><td>{{ rebate_GEG02_H.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>GEG02-K </th><td>{{ GEG02_K.DelcoGrossValue__sum }}</td><td>{{ rebate_GEG02_K.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>GEG04-B</th><td>{{ GEG04_B.DelcoGrossValue__sum }}</td><td>{{ rebate_GEG04_B.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>GENT-F2011</th><td>{{ GENT_F2011.DelcoGrossValue__sum }}</td><td>{{ rebate_GENT_F2011.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT2-D06-E</th><td>{{ NTT2_D06_E.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT2_D06_E.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT2-D5-03</th><td>{{ NTT2_D5_03.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT2_D5_03.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT2-D5-05</th><td>{{ TT2_D5_05.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT2_D5_05.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT2-D6-03</th><td>{{ NTT2_D6_03.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT2_D6_03.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT2-D6-05</th><td>{{ NTT2_D6_05.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT2_D6_05.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT2-F4</th><td>{{ NTT2_F4.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT2_F4.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT2-G4</th><td>{{ NTT2_G4.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT2_G4.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT2-H3</th><td>{{ NTT2_G4.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT2_G4.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT3-B5</th><td>{{ NTT3_B5.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT3_B5.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT3-D5</th><td>{{ NTT3_D5.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT3_D5.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-B05A</th><td>{{ NTT5_B05A.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_B05A.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-B06</th><td>{{ NTT5_B06.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_B06.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-C01 </th><td>{{ NTT5_C01.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_C01.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-D01</th><td>{{ NTT5_D01.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_D01.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-D02</th><td>{{ NTT5_D02.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_D02.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-E03</th><td>{{ NTT5_E03.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_E03.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-E04</th><td>{{ NTT5_E04.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_E04.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-G01</th><td>{{ NTT5_G01.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_G01.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-G02</th><td>{{ NTT5_G02.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_G02.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-G03</th><td>{{ NTT5_G03.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_G03.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-H01</th><td>{{ NTT5_H01.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_H01.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-H03</th><td>{{ NTT5_H03.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_H03.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-I01</th><td>{{ NTT5_I01.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_I01.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-I02</th><td>{{ NTT5_I02.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_I02.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-I03</th><td>{{ NTT5_I03.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_I03.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-J01</th><td>{{ NTT5_J01.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_J01.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-J02</th><td>{{ NTT5_J02.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_J02.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT5-J03</th><td>{{ NTT5_J03.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT5_J03.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT6-C</th><td>{{ NTT6_C.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT6_C.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>NTT7-E</th><td>{{ NTT7_E.DelcoGrossValue__sum }}</td><td>{{ rebate_NTT7_E.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>OP12-A</th><td>{{ OP12_A.DelcoGrossValue__sum }}</td><td>{{ rebate_OP12_A.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>SG02-O</th><td>{{ SG02_O.DelcoGrossValue__sum }}</td><td>{{ rebate_SG02_O.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>SG02-O2</th><td>{{ SG02_O2.DelcoGrossValue__sum }}</td><td>{{ rebate_SG02_O2.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>SG02-P</th><td>{{ SG02_P.DelcoGrossValue__sum }}</td><td>{{ rebate_SG02_P.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>SG02-Q</th><td>{{ SG02_Q.DelcoGrossValue__sum }}</td><td>{{ rebate_SG02_Q.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>SG02-Q2</th><td>{{ SG02_Q2.DelcoGrossValue__sum }}</td><td>{{ rebate_SG02_Q2.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>SG02-R</th><td>{{ SG02_R.DelcoGrossValue__sum }}</td><td>{{ rebate_SG02_R.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>SG02-U</th><td>{{ SG02_U.DelcoGrossValue__sum }}</td><td>{{ rebate_SG02_U.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>SG11-A</th><td>{{ SG11_A.DelcoGrossValue__sum }}</td><td>{{ rebate_SG11_A.RebateCustAmount__sum }}</td>
        </tr>
        <tr>
            <th>ST1</th><td>{{ ST1.DelcoGrossValue__sum }}</td><td>{{ rebate_ST1.RebateCustAmount__sum }}</td>
        </tr>


</table>


{% endblock %}
