{% extends 'base.html' %}
{% block content %}
<div class="breadcrumbs">
    <div class="col-sm-12">
        <h3><b>Monthly Fuel Supplier Report - SHELL</b></h3>
    </div>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link " href="{% url 'jan_monthly_report' %}">Petron</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Shell</a>
    </li>
</ul>
<div class="content mt-3" >
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                    <!-- <a href="{% url 'report_summary' %}"> <u>View Summary</u></a>&nbsp;/&nbsp; -->
                    <a href="{% url 'shell_export' %}">Export</a>
                </div>
                    <div class="container-fluid">
                    <table id="shell_table" class="table table-striped table-bordered" style="width:100%" data-server-side="false" data-ajax="/api/MonthlyReportShell/?format=datatables">
                    <thead>
                        <tr>
                            <th>Account Customer Number</th>
                            <th>Account Name</th>
                            <th>Card PAN</th>
                            <th>Sum of Trx Delco List Price Total Net</th>
                            <th>Sum of Trx Customer Invoice Total Net</th>
                            <th>Card Sequence Number</th>
                            <th>Card Luhn Check Digit</th>
                            <th>Sum of Trx Delco Invoice Total Gross</th>
                            <th>Sum of Trx Delco Invoice Total VAT</th>
                            <th>Trx VAT Percentage</th>
                            <th>Sum of Trx Customer Effective Discount Total Net</th>
                            <th>Sum of Trx System Invoice Total VAT</th>
                            <th>Trx Delco Effective Discount Unit Net</th>
                            <th>Trx Other Prompt</th>
                            <th>Sum of Trx Quantity</th>
                            <th>Card Issuer Code</th>
                            <th>Net Invoice Indicator</th>
                            <th>Network Code</th>
                            <th>Card Group Description</th>
                            <th>Account Card Embossing Default Name</th>
                            <th>Card VRN</th>
                            <th>Sum of Trx Delco Invoice Total Net</th>
                            <th>Trx PIN Used Description</th>
                            <th>Trx Discount Pricing Type Description</th>
                            <th>Transaction Item Type Description</th>
                            <th>Card Release Code</th>
                            <th>Trx Delivery Time</th>
                            <th>Trx Transaction Billed Indicator</th>
                            <th>Trx Transaction Type Description</th>
                            <th>Card Issuing Country Code</th>
                            <th>Trx Delco Code</th>
                            <th>Delco Country ISO2 Code</th>
                            <th>Trx Customer Currency ISO3 Code</th>
                            <th>Trx Invoice Number</th>
                            <th>Trx Invoice Date</th>
                            <th>Trx Global Product Code</th>
                            <th>Euroshell Site Number</th>
                            <th>Site Name</th>
                            <th>Trx Delivery Date</th>
                            <th>Trx Odometer Reading</th>
                            <th>Sum of Trx Delco Discount Total Net</th>
                            <th>Trx Customer Effective Discount Unit Net</th>
                            <th>Legal Entity Trading Name</th>
                            <th>Account Legal Entity Customer Number</th>
                            <th>Card Group Code</th>
                            <th>Global Product Description</th>
                            <th>Trx Transaction Debit Or Credit Indicator</th>
                            <th>Trx Correction Flag</th>
                            <th>Delco Country Name</th>
                            <th>Legal Entity VAT Exempt Indicator</th>
                            <th>Trx Customer To Euro Exchange Rate</th>
                            <th>Trx Site To Euro Exchange Rate</th>
                            <th>Trx System Effective Discount Total Net</th>
                            <th>Sum of Trx System Invoice Total Net</th>
                            <th>Trx Delco Retail Price Unit Net</th>
                            <th>Trx Rebate on Net Amount In Customer Currency</th>
                            <th>Trx Rebate on Net Amount In Transaction Currency</th>
                            <th>Trx Rebate Rate</th>
                            <th>Network Name</th>
                            <th>Trx Additional 1</th>
                            <th>Trx Additional 2</th>
                            <th>Trx Additional 3</th>
                            <th>Trx Additional 4</th>
                            <th>Trx Transaction Item Id</th>
                            <th>Trx Authorisation Code</th>
                            <th>Delco Name</th>
                            <th>Site Groups</th>
                            <th>Card Type Description</th>
                            <th>Legal Entity Group Description</th>
                            <th>Trx Original Transaction Item Id</th>
                            <th>Trx GFN Posting Date</th>
                            <th>Trx GFN Posting Time</th>
                            <th>Card Fleet Id Prompt</th>
                            <th>Trx Vehicle Registration Number</th>
                            <th>Card Payer Association Code</th>
                            <th>Card Payer Association Name</th>
                            <th>Trx Forward Standard Product Code</th>
                            <th>Trx Transaction Provider Code</th>
                            <th>Trx Transaction Provider Description</th>
                            <th>Trx Incoming Transaction Batch File Name</th>
                            <th>Trx Insert Date</th>
                            <th>Account Group 3 Code</th>
                            <th>Account Group 3 Name</th>
                            <th>Trx Colco Contracted Discount Unit Net</th>
                            <th>Account Best Of Price Indicator</th>
                            <th>Card Driver Name</th>
                            <th>Trx Incoming Site Location Description</th>
                            <th>Trx Delco List Price Unit Net</th>
                            <th>Trx Receipt Number</th>
                            <th>Sum of Trx System Invoice Total Gross</th>
                            <th>Sum of Trx Customer Invoice Total VAT</th>
                            <th>Sum of Trx Customer Invoice Total Gross</th>
                            <th>Cost Center</th>
                        </tr>
                    </thead>
                    </table>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>

$(document).ready(function() {
    var table = $('#shell_table').DataTable({
        "serverSide": false,
        "scrollX": true,
        "scrollY": "500px",
        // "deferRender": true,
        // "autoWidth":true,
        "deferRender": true,
        "autoWidth":true,
        "ajax": {
            "url": "/api/MonthlyReportShell/?format=datatables",
            "type": "POST"
            },
        "columns": [
            {"data": "AccountNumber",
            "render": function(data, type, row, meta){
                if(type === 'display'){
                    data = '<a href="Detail/' + row.id + '">' + data + '</a>';
                    }
                return data;
                }
            },
            {"data":"Account_Customer_Number"},
            {"data":"Account_Name"},
            {"data":"Card_PAN"},
            {"data":"Sum_of_Trx_Delco_List_Price_Total_Net"},
            {"data":"Sum_of_Trx_Customer_Invoice_Total_Net"},
            {"data":"Card_Sequence_Number"},
            {"data":"Card_Luhn_Check_Digit"},
            {"data":"Sum_of_Trx_Delco_Invoice_Total_Gross"},
            {"data":"Sum_of_Trx_Delco_Invoice_Total_VAT"},
            {"data":"Trx_VAT_Percentage"},
            {"data":"Sum_of_Trx_Customer_Effective_Discount_Total_Net"},
            {"data":"Sum_of_Trx_System_Invoice_Total_VAT"},
            {"data":"Trx_Delco_Effective_Discount_Unit_Net"},
            {"data":"rx_Other_Prompt"},
            {"data":"Sum_of_Trx_Quantity"},
            {"data":"Card_Issuer_Code"},
            {"data":"Net_Invoice_Indicator"},
            {"data":"Network_Code"},
            {"data":"Card_Group_Description"},
            {"data":"Account_Card_Embossing_Default_Name"},
            {"data":"Card_VRN"},
            {"data":"Sum_of_Trx_Delco_Invoice_Total_Net"},
            {"data":"Trx_PIN_Used_Description"},
            {"data":"Trx_Discount_Pricing_Type_Description"},
            {"data":"Transaction_Item_Type_Description"},
            {"data":"Card_Release_Code"},
            {"data":"Trx_Delivery_Time"},
            {"data":"Trx_Transaction_Billed_Indicator"},
            {"data":"Trx_Transaction_Type_Description"},
            {"data":"Card_Issuing_Country_Code"},
            {"data":"Trx_Delco_Code"},
            {"data":"Delco_Country_ISO2_Code"},
            {"data":"Trx_Customer_Currency_ISO3_Code"},
            {"data":"Trx_Invoice_Number"},
            {"data":"Trx_Invoice_Date"},
            {"data":"Trx_Global_Product_Code"},
            {"data":"Euroshell_Site_Number"},
            {"data":"Site_Name"},
            {"data":"Trx_Delivery_Date"},
            {"data":"Trx_Odometer_Reading"},
            {"data":"Sum_of_Trx_Delco_Discount_Total_Net"},
            {"data":"Trx_Customer_Effective_Discount_Unit_Net"},
            {"data":"Legal_Entity_Trading_Name"},
            {"data":"Account_Legal_Entity_Customer_Number"},
            {"data":"Card_Group_Code"},
            {"data":"Global_Product_Description"},
            {"data":"Trx_Transaction_Debit_Or_Credit_Indicator"},
            {"data":"Trx_Correction_Flag"},
            {"data":"Delco_Country_Name"},
            {"data":"Legal_Entity_VAT_Exempt_Indicator"},
            {"data":"Trx_Customer_To_Euro_Exchange_Rate"},
            {"data":"Trx_Site_To_Euro_Exchange_Rate"},
            {"data":"Trx_System_Effective_Discount_Total_Net"},
            {"data":"Sum_of_Trx_System_Invoice_Total_Net"},
            {"data":"Trx_Delco_Retail_Price_Unit_Net"},
            {"data":"Trx_Rebate_on_Net_Amount_In_Customer_Currency"},
            {"data":"Trx_Rebate_on_Net_Amount_In_Transaction_Currency"},
            {"data":"Trx_Rebate_Rate"},
            {"data":"Network_Name"},
            {"data":"Trx_Additional_1"},
            {"data":"Trx_Additional_2"},
            {"data":"Trx_Additional_4"},
            {"data":"Trx_Transaction_Item_Id"},
            {"data":"Trx_Authorisation_Code"},
            {"data":"Delco_Name"},
            {"data":"Site_Groups"},
            {"data":"Card_Type_Description"},
            {"data":"Legal_Entity_Group_Description"},
            {"data":"Trx_Original_Transaction_Item_Id"},
            {"data":"Trx_GFN_Posting_Date"},
            {"data":"Trx_GFN_Posting_Time"},
            {"data":"Card_Fleet_Id_Prompt"},
            {"data":"Trx_Vehicle_Registration_Number"},
            {"data":"Card_Payer_Association_Code"},
            {"data":"Card_Payer_Association_Name"},
            {"data":"Trx_Forward_Standard_Product_Code"},
            {"data":"Trx_Transaction_Provider_Code"},
            {"data":"Trx_Transaction_Provider_Description"},
            {"data":"Trx_Incoming_Transaction_Batch_File_Name"},
            {"data":"Trx_Insert_Date"},
            {"data":"Account_Group_3_Code"},
            {"data":"Account_Group_3_Name"},
            {"data":"Trx_Colco_Contracted_Discount_Unit_Net"},
            {"data":"Account_Best_Of_Price_Indicator"},
            {"data":"Card_Driver_Name"},
            {"data":"Trx_Incoming_Site_Location_Description"},
            {"data":"Trx_Delco_List_Price_Unit_Net"},
            {"data":"Trx_Receipt_Number"},
            {"data":"Sum_of_Trx_System_Invoice_Total_Gross"},
            {"data":"Sum_of_Trx_Customer_Invoice_Total_VAT"},
            {"data":"Sum_of_Trx_Customer_Invoice_Total_Gross"},
            {"data":"Cost_Center"},
            ]
    });
    $('#shell_table').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    } );
});
</script>

{% endblock %}


