{% extends 'base.html' %}
{% block content %}

<style type="text/css">
    th{
        text-align: center;
    }
</style>


<div class="breadcrumbs">
    <div class="col-lg-12">
        <h3><b>Customer Care Log</b></h3>
    </div>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="{% url 'CS_List' %}">Customer Care Log</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="{% url 'CS_pending' %}">Pending</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active">Coming Deadline</a>
  </li>
</ul>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                    <a href="{% url 'cs_import' %}" style="float: left"><u><b>Export Customer Data</b></u></a>
                    <a href="{% url 'CS_new' %}" style="float:right"><u><b>Create ticket</b></u>&nbsp; &nbsp; &nbsp;</a>
                    
                </div>
                <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Ticket Number</th>
                            <th>Date Received</th>
                            <th>Fleet Member</th>
                            <th>Ageing</th>
                            <th>Client Name</th>
                            <th>Email</th>
                            <th>Mobile Number</th>
                            <th>Transaction Type</th>
                            <th>Plate Number</th>
                            <th>Problem</th>
                            <th>Date Resolved</th>
                            <th>Action Taken</th>
                        </tr>
                    </thead>
                     <tbody>
                        {% for cs_logs in dl %}
                        <tr class="odd gradeX">
                            <td><a href="{% url 'CS_details' cs_logs.id %}"><u>{{ cs_logs.Activity_id }}</u></a></td>
                            <td>{{ cs_logs.Date_received }}</td>
                            <td>{{ cs_logs.Fleet_member }}</td>
                            <td>{{ cs_logs.Ageing }}</td>
                            <td>{{ cs_logs.Client_name }}</td>
                            <td>{{ cs_logs.Email}}</td>
                            <td>{{ cs_logs.Mobile_no}}</td>
                            <td>{{ cs_logs.Transaction_type }}</td>
                            <td>{{ cs_logs.Plate_no }}</td>
                            <td>{{ cs_logs.Problem }}</td>
                            <td>{{ cs_logs.Date_resolved}}</td>
                            <td>{{ cs_logs.Action_taken}}</td>
                        </tr>
                        {% endfor %}
                        {% for cs_logs2 in dl2 %}
                        <tr class="odd gradeX">
                            <td bgcolor="red"><a href="{% url 'CS_details' cs_logs2.id %}"><u>{{ cs_logs2.Activity_id }}</u></a></td>
                            <td bgcolor="red">{{ cs_logs2.Date_received }}</td>
                            <td bgcolor="red">{{ cs_logs2.Fleet_member }}</td>
                            <td bgcolor="red">{{ cs_logs2.Ageing }}</td>
                            <td bgcolor="red">{{ cs_logs2.Client_name }}</td>
                            <td bgcolor="red">{{ cs_logs2.Email}}</td>
                            <td bgcolor="red">{{ cs_logs2.Mobile_no}}</td>
                            <td bgcolor="red">{{ cs_logs2.Transaction_type }}</td>
                            <td bgcolor="red">{{ cs_logs2.Plate_no }}</td>
                            <td bgcolor="red">{{ cs_logs2.Problem }}</td>
                            <td bgcolor="red">{{ cs_logs2.Date_resolved}}</td>
                            <td bgcolor="red">{{ cs_logs2.Action_taken}}</td>
                        </tr>
                        {% endfor %}
                        {% for cs_logs3 in dl3 %}
                        <tr class="odd gradeX">
                            <td bgcolor="red"><a href="{% url 'CS_details' cs_logs3.id %}"><u>{{ cs_logs3.Activity_id }}</u></a></td>
                            <td bgcolor="red">{{ cs_logs3.Date_received }}</td>
                            <td bgcolor="red">{{ cs_logs3.Fleet_member }}</td>
                            <td bgcolor="red">{{ cs_logs3.Ageing }}</td>
                            <td bgcolor="red">{{ cs_logs3.Client_name }}</td>
                            <td bgcolor="red">{{ cs_logs3.Email}}</td>
                            <td bgcolor="red">{{ cs_logs3.Mobile_no}}</td>
                            <td bgcolor="red">{{ cs_logs3.Transaction_type }}</td>
                            <td bgcolor="red">{{ cs_logs3.Plate_no }}</td>
                            <td bgcolor="red">{{ cs_logs3.Problem }}</td>
                            <td bgcolor="red">{{ cs_logs3.Date_resolved}}</td>
                            <td bgcolor="red">{{ cs_logs3.Action_taken}}</td>
                        </tr>
                        {% endfor %}
                        {% for cs_logs4 in dl4 %}
                        <tr class="odd gradeX">
                            <td bgcolor="red"><a href="{% url 'CS_details' cs_logs4.id %}"><u>{{ cs_logs4.Activity_id }}</u></a></td>
                            <td bgcolor="red">{{ cs_logs4.Date_received }}</td>
                            <td bgcolor="red">{{ cs_logs4.Fleet_member }}</td>
                            <td bgcolor="red">{{ cs_logs4.Ageing }}</td>
                            <td bgcolor="red">{{ cs_logs4.Client_name }}</td>
                            <td bgcolor="red">{{ cs_logs4.Email}}</td>
                            <td bgcolor="red">{{ cs_logs4.Mobile_no}}</td>
                            <td bgcolor="red">{{ cs_logs4.Transaction_type }}</td>
                            <td bgcolor="red">{{ cs_logs4.Plate_no }}</td>
                            <td bgcolor="red">{{ cs_logs4.Problem }}</td>
                            <td bgcolor="red">{{ cs_logs4.Date_resolved}}</td>
                            <td bgcolor="red">{{ cs_logs4.Action_taken}}</td>
                        </tr>
                        {% endfor %}
                        {% for cs_logs5 in dl5 %}
                        <tr class="odd gradeX">
                            <td bgcolor="red"><a href="{% url 'CS_details' cs_logs5.id %}"><u>{{ cs_logs5.Activity_id }}</u></a></td>
                            <td bgcolor="red">{{ cs_logs5.Date_received }}</td>
                            <td bgcolor="red">{{ cs_logs5.Fleet_member }}</td>
                            <td bgcolor="red">{{ cs_logs5.Ageing }}</td>
                            <td bgcolor="red">{{ cs_logs5.Client_name }}</td>
                            <td bgcolor="red">{{ cs_logs5.Email}}</td>
                            <td bgcolor="red">{{ cs_logs5.Mobile_no}}</td>
                            <td bgcolor="red">{{ cs_logs5.Transaction_type }}</td>
                            <td bgcolor="red">{{ cs_logs5.Plate_no }}</td>
                            <td bgcolor="red">{{ cs_logs5.Problem }}</td>
                            <td bgcolor="red">{{ cs_logs5.Date_resolved}}</td>
                            <td bgcolor="red">{{ cs_logs5.Action_taken}}</td>
                        </tr>
                        {% endfor %}
                        {% comment %} {% for cs_logs6 in dl6 %}
                        <tr class="odd gradeX">
                            <td><a href="{% url 'CS_details' cs_logs6.id %}"><u>{{ cs_logs6.Activity_id }}</u></a></td>
                            <td>{{ cs_logs6.Date_received }}</td>
                            <td>{{ cs_logs6.Fleet_member }}</td>
                            <td>{{ cs_logs6.Ageing }}</td>
                            <td>{{ cs_logs6.Client_name }}</td>
                            <td>{{ cs_logs6.Email}}</td>
                            <td>{{ cs_logs6.Mobile_no}}</td>
                            <td>{{ cs_logs6.Transaction_type }}</td>
                            <td>{{ cs_logs6.Plate_no }}</td>
                            <td>{{ cs_logs6.Problem }}</td>
                            <td>{{ cs_logs6.Date_resolved}}</td>
                            <td>{{ cs_logs6.Action_taken}}</td>
                        </tr>
                        {% endfor %} {% endcomment %}
                        {% for cs_logs7 in dl7 %}
                        <tr class="odd gradeX">
                            <td><a href="{% url 'CS_details' cs_logs7.id %}"><u>{{ cs_logs7.Activity_id }}</u></a></td>
                            <td>{{ cs_logs7.Date_received }}</td>
                            <td>{{ cs_logs7.Fleet_member }}</td>
                            <td>{{ cs_logs7.Ageing }}</td>
                            <td>{{ cs_logs7.Client_name }}</td>
                            <td>{{ cs_logs7.Email}}</td>
                            <td>{{ cs_logs7.Mobile_no}}</td>
                            <td>{{ cs_logs7.Transaction_type }}</td>
                            <td>{{ cs_logs7.Plate_no }}</td>
                            <td>{{ cs_logs7.Problem }}</td>
                            <td>{{ cs_logs7.Date_resolved}}</td>
                            <td>{{ cs_logs7.Action_taken}}</td>
                        </tr>
                        {% endfor %}
                        {% for cs_logs8 in dl8 %}
                        <tr class="odd gradeX">
                            <td><a href="{% url 'CS_details' cs_logs8.id %}"><u>{{ cs_logs8.Activity_id }}</u></a></td>
                            <td>{{ cs_logs8.Date_received }}</td>
                            <td>{{ cs_logs8.Fleet_member }}</td>
                            <td>{{ cs_logs8.Ageing }}</td>
                            <td>{{ cs_logs8.Client_name }}</td>
                            <td>{{ cs_logs8.Email}}</td>
                            <td>{{ cs_logs8.Mobile_no}}</td>
                            <td>{{ cs_logs8.Transaction_type }}</td>
                            <td>{{ cs_logs8.Plate_no }}</td>
                            <td>{{ cs_logs8.Problem }}</td>
                            <td>{{ cs_logs8.Date_resolved}}</td>
                            <td>{{ cs_logs8.Action_taken}}</td>
                        </tr>
                        {% endfor %}
                    </tbody> 
                    </table>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
    <!-- /.row -->
{% endblock %}


