{% extends 'base.html' %}
{% block content %}
<style type="text/css">
  th {
    text-align: middle;
  }
</style>

<div class="row">
    <div class="col-md-12">
        <h3 class="page-header">Customer Care Details</h3>
    </div>
</div>

<br>

<table width="90%" class=" table-bordered table-hover" border="2px">
    <tr>
        <th width="25%">Activity ID </th><td width="25%">{{ object.Activity_id }}</td><td></td>
        <th width="25%">Date Received</th><td width="25%">{{ object.Date_received }}</td>
    </tr>
    <tr>
        <th>Fleet Member</th><td>{{ object.Fleet_member }}</td></td><td></td>
        <th>Ageing </th> <td>{{ object.Ageing }}</td>
    </tr>
    <tr>
        <th>Client Name</th><td>{{ object.Client_name }}</td></td><td></td>
        <th>Email </th> <td>{{ object.Email }}</td>
    </tr>
    <tr>
        <th>Mobile Number</th> <td>{{ object.Mobile_no }}</td></td><td></td>
        <th>Transaction Type</th> <td>{{ object.Transaction_type }}</td>
    </tr>
    <tr>
        <th></th><td></td></td><td></td>
        <th></th><td></td>
    </tr>
    <tr>
        <th>Plate Number</th> <td>{{ object.Plate_no }}</td></td><td></td>
        <th>Problem</th> <td>{{ object.Problem }}</td>
    </tr> 
    <tr>
        <th>Date Resolved</th><td>{{ object.Date_resolved }}</td></td><td></td>
        <th>Action Taken</th><td>{{ object.Action_taken }}</td>
    </tr>
    
</table>
    <div class="card-footer">
      <a data-toggle="modal" data-target="#updateModal" class="buttonsubmit">UPDATE</a>
      <a href="{% url 'CS_List' %}" class="btn">CLOSE</a>
    </div>
<!--Update Modal--->
<form method="POST" action="{% url 'CS_update' object.id %}">
{% csrf_token %}
  <div class="modal fade bd-example-modal-lg" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="page-header">Update Car Rental</h2>
        </div>
        <div class="modal-body">
        <div class="tab-content">
        <div class="row">
        <div class="col-sm-4">
            <label>Date Received</label>
            <input style= "text-transform:" type="text" name="date_received" id="date_received" class="form-control" value="{{ object.Date_received }}" readonly>
        </div>
        <div class="col-sm-4">
            <label>Fleet Member</label>
            <input style= "text-transform:" type="text" name="Fleet_member" id="Fleet_member" class="form-control" value="{{ object.Fleet_member }}"readonly>
        </div>
        <div class="col-sm-4">
            <label>Client Name</label>
            <input style= "text-transform:" type="text" name="Client_name" id="Client_name" class="form-control" value="{{ object.Client_name }}"readonly>
        </div>
        <div class="col-sm-4">
            <label>Email</label>
            <input style="text-transform:" type="text" name="Email" id="Email" class="form-control" value="{{ object.Email }}"readonly>
        </div>
        <div class="col-sm-4">
            <label>Mobile Number</label>
            <input style="text-transform:" type="text" name="Mobile_no" id="Mobile_no" class="form-control" value="{{ object.Mobile_no }}"readonly>
        </div>
        <div class="col-sm-4">
            <label>Transaction Type</label>
            <input style="text-transform:" type="text" name="Transaction_type" id="Transaction_type" class="form-control" value="{{ object.Transaction_type }}"readonly>
        </div>

        <div class="col-sm-4">
            <label>Plate Number</label>
            <input style="text-transform:" type="text" name="Plate_no" id="Plate_no" class="form-control" value="{{ object.Plate_no }}"readonly>
        </div>
        <div class="col-sm-4">
            <label>Problem</label>
            <input style="text-transform:" type="text" name="Problem" id="Problem" class="form-control" value="{{ object.Problem }}"readonly>
        </div>
        <div class="col-sm-4">
            <label>Date Resolved</label>
            <input style="text-transform:" type="date" name="Date_resolved" id="Date_resolved" class="form-control" value="{{ object.Date_resolved }}">
        </div>
        <div class="col-sm-9">
            <label>Action Taken</label>
            <input style="text-transform:" type="text" name="Action_taken" id="Action_taken" class="form-control" value="{{ object.Action_taken }}">
        </div>
        <br><br>
        <div class="col-lg-12">
        </div>
            <div class="modal-footer">
            <button type="Submit" class="buttonsubmit btn-secondary" >UPDATE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
{% endblock %}