{% extends 'base.html' %}
{% block content %}
<script type="text/javascript">
    setTimeout(function(){ 
        $('#myAlert').fadeIn('slow'); 
    }, 1000);
</script>

<style type="text/css">
    th{
        text-align: center;
    }
    #myAlert
    {
        display: none;
        position: fixed;
        /*bottom: 0px;*/
        right: 80px;
        width: 33%;
        margin: 0px;
    }
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
</style>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div class="breadcrumb ">
    <div class="col-lg-12">
        <h3><b>Customer Care Log</b></h3>
    </div>
     {% if pendingcount != 0%}
        <div class="alert alert-warning" id="myAlert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <h5 style="color:black"><b><u>Reminder!</u></b></h5>&nbsp;
            <p>Hi, You have <b style="color:red">{{pendingcount}}</b>  Pending Ticket <strong>Please update!</strong>.</p>
        </div>
    {% else %}
        <div class="alert alert-info" id="myAlert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <h5 style="color:black"><b><u>Have a nice day!</u></b></h5>&nbsp;
            <p>You have <strong>0</strong> Pending Ticket.</p>
    </div>
    {% endif%}
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link"href="{% url 'CS_List' %}">Customer Care Log</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active">Pending</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'cs_deadline' %}">Coming Deadline</a>
  </li>
  
</ul>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                    <a href="{% url 'cs_import' %}" style="float: left"><u><b>Export Customer Data</b></u></a>
                    <a href="{% url 'CS_new' %}" style="float:right"><u><b>Create ticket</b></u>&nbsp; &nbsp; &nbsp;</a>
                    
                </div>             
                <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Ticket Number</th>
                            <th>Date Received</th>
                            <th>Fleet Member</th>
                            <th>Ageing</th>
                            <th>Client Name</th>
                            <th>Email</th>
                            <th>Mobile Number</th>
                            <th>Transaction Type</th>
                            <th>Plate Number</th>
                            <th>Problem</th>
                            <th>Date Resolved</th>
                            <th>Action Taken</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for CC in pending %}
                        <tr class="odd gradeX">
                            <td><a href="{% url 'CS_details' CC.id %}"><u>{{ CC.Activity_id }}</u></a></td>
                            <td>{{ CC.Date_received }}</td>
                            <td>{{ CC.Fleet_member }}</td>
                            <td>{{ CC.Ageing }}</td>
                            <td>{{ CC.Client_name }}</td>
                            <td>{{ CC.Email}}</td>
                            <td>{{ CC.Mobile_no}}</td>
                            <td>{{ CC.Transaction_type }}</td>
                            <td>{{ CC.Plate_no }}</td>
                            <td>{{ CC.Problem }}</td>
                            <td>{{ CC.Date_resolved}}</td>
                            <td>{{ CC.Action_taken}}</td>
                            <td>
                                <button type="button" class="delete-cs btn-sm btn-danger rounded" data-id="{% url 'CS_delete' CC.pk %}">
                                <span class="fa fa-trash"></span>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
    <!-- /.row -->
    
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
  $(function() {
    // Delete book buttons
    $("#example").on('mouseover', '.delete-cs', function() {
      $(this).modalForm({
        formURL: $(this).data('id')
      });
    });

  });
</script>
{% endblock extrascripts %}


