{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="col-md-12">
    <div class="card">
    <div class="card-header">
        <h3 align="center"><b>Customer Care Log Update</b></h3>&nbsp;
    </div>
<form method="POST" action="{% url 'CS_update' object.id %}">
{% csrf_token %}
    <div class="col-sm-4">
      <label>Date Received</label>
      <input style= "text-transform:" type="date" name="date_received" id="date_received" class="form-control" value="{{ object.Date_received }}">
    </div>
    <div class="col-sm-4">
      <label>Fleet Member</label>
      <input style= "text-transform:" type="text" name="Eid" id="Eid" class="form-control" value="{{ object.Employee_id }}">
    </div>
    <div class="col-sm-4">
      <label>Client Name</label>
      <input style= "text-transform:" type="text" name="Efm" id="Efm" class="form-control" value="{{ object.F_name }}">
    </div>
    <div class="col-sm-4">
      <label>Email</label>
      <input style="text-transform:" type="text" name="Elm" id="Elm" class="form-control" value="{{ object.L_name }}">
    </div>
    <div class="col-sm-4">
      <label>Mobile Number</label>
      <input style="text-transform:" type="text" name="Acom" id="Acom" class="form-control" value="{{ object.Assignee_company }}">
    </div>
    <div class="col-sm-4">
      <label>Assignee Cost Center:</label>
      <input style="text-transform:" type="text" name="Acost" id="Acost" class="form-control" value="{{ object.Cost_center }}">
    </div>

    <div class="col-sm-4">
      <label>Other Assignee First Name:</label>
      <input style="text-transform:" type="text" name="Ofname" id="Ddate" class="form-control" value="{{ object.O_Fname }}">
    </div>
    <div class="col-sm-4">
      <label>Other Assignee Last Name:</label>
      <input style="text-transform:" type="text" name="Olname" id="Olname" class="form-control" value="{{ object.O_Lname }}">
    </div>
    <div class="col-sm-4">
      <label>Other Assignee Cost Center:</label>
      <input style="text-transform:" type="text" name="Ocost" id="Ocost" class="form-control" value="{{ object.O_cost_center }}">
      <br>
    </div>

    <div class="col-sm-3">
      <label>Plate Number:</label>
      <input style="text-transform:" type="text" name="Pnumber" id="Ddate" class="form-control" value="{{ object.Plate_no }}">
</div>
    <div class="card-footer">
        <button type="submit" class="buttonsubmit btn-secondary">PROCEED</button><button 
       class="button" type="reset" value="Reset">CLEAR FIELDS</button>
    </div>
</form>
{% endblock %}