{% extends 'base.html' %}

<script>
{% block jquery %}
var endpoint = 'api/monitoring/'
var endpointongoing = 'api/monitoring/Ongoing/'
var endpointcompleted = 'api/monitoring/Completed/'
var petron_report = 'api/Petron/Report/'

var shell_report = ''
var defaultData = []
var current_ongoing_data = []
var completed_item_data = []
var labels = [];
var ongoing_labels = []
var completed_labels = []
var petron_item_data =[]
var shell_item_data = []
var shell_reb_data = []
var shell_label = []
var petron_item_data_dis = []
var petron_item_data_net = []

///Plate Monitoring
var plate_monitoring = 'api/Plate/'
var completed = []
var total = []
$.ajax({
    method: "GET",
    url: plate_monitoring,
    success: function(data){
        total = data.total
        completed = data.completed
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
/// LTO
var tmg = 'api/TMG/'
var tmg_completed = []
var tmg_total = []
$.ajax({
    method: "GET",
    url: tmg,
    success: function(data){
        tmg_total = data.tmg_total
        tmg_completed = data.tmg_completed
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
////Fleet card 
var fleet_endpoint = 'api/Fleet/'
var data_completed = []
var data_all = []
$.ajax({
    method: "GET",
    url: fleet_endpoint,
    success: function(data){
        data_all = data.data_all
        data_completed = data.data_completed
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

////masterlist////
var masterlist = 'api/Masterlist/'
var m__items = []
$.ajax({
    method: "GET",
    url: masterlist,
    success: function(data){
        Data = data.m__items
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
//Registration - Jan-May//
var endpointreg = 'api/monitoring/Reg/'
var reglabels = []
var reg_list = []
$.ajax({
    method: "GET",
    url: endpointreg,
    success: function(regdata){
        reglabels = regdata.reglabels
        reg_list = regdata.reg_list
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

//unRegistration - Jan-May//
var endpointunreg = 'api/monitoring/unReg/'
var unreglabels = []
var unreg_list = []
$.ajax({
    method: "GET",
    url: endpointunreg,
    success: function(unregdata){
        unreglabels = unregdata.unreglabels
        unreg_list = unregdata.unreg_list
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

//Registration - Total//
var endpointunreg_total = 'api/Plate/Total/'
var total_reglabels = []
var total_regdefault = []
$.ajax({
    method: "GET",
    url: endpointunreg_total,
    success: function(total_regdata){
        total_reglabels = total_regdata.total_reglabels
        total_regdefault = total_regdata.total_regdefault
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
//fuel cosumption//
var fuel_cpmsumption = 'api/Fuel-Consumption/'
var fuel_data_volume = []
var fuel_data_overall = []
$.ajax({
    method: "GET",
    url: fuel_cpmsumption,
    success: function(fuel_data){
        fuel_data_volume = fuel_data.fuel_data_volume
        fuel_data_overall = fuel_data.fuel_data_overall
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
//fuel cosumption - Monthly//
var fuel_monthly = 'api/Fuel-Monthly/'
var fuel_volume = []
var fuel_amount = []
$.ajax({
    method: "GET",
    url: fuel_monthly,
    success: function(fuel_monthly){
        fuel_volume = fuel_monthly.fuel_volume
        fuel_amount = fuel_monthly.fuel_amount
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
    var ctx1 = document.getElementById("fleet_card");
    var ctx2 = document.getElementById("plate");
    var ctx3 = document.getElementById("masterlist");
    var ctx4 = document.getElementById("reg");
    var ctx5 = document.getElementById("lto_tmg");
    var ctx6 = document.getElementById("fuel_con");
    var ctx7 = document.getElementById("fuel_vol");
    var ctx8 = document.getElementById("fuel_amount");

    var fleet_chart = new Chart(ctx1, {
    type: 'doughnut',
    data: {
        datasets: [
        {
            data: data_completed,
            fill: false,
            backgroundColor:'rbg(242, 133, 0)',
            borderWidth: 3,
            weight:1,
        },{
            label:"Total Request",
            data: data_all,
            fill: true,
            backgroundColor:'rgb(255,36,0)',
            borderWidth: 3,
            weight:1,
            }
        ]
        },
        options: {

            responsive: true,
            rotation: 1 * Math.PI,/** This is where you need to work out where 89% is */
            circumference: 1 * Math.PI,/** put in a much smaller amount  so it does not take up an entire semi circle */
            legend: {
                display: false
            },
            tooltip: {
                enabled: false
            },
            cutoutPercentage: 70,
        },
    
    });

    var plate_chart = new Chart(ctx2, {
    type: 'doughnut',
    data: {
        datasets: [
        {
            data: total,
            fill: true,
            backgroundColor:'rbg(242, 133, 0)',
            borderWidth: 3,
            weight:1,
        },{
            data: completed,
            fill: true,
            backgroundColor:'rgb(255,36,0)',
            borderWidth: 3,
            weight:1,
            }
        ]
        },
        options: {

            responsive: true,
            rotation: 1 * Math.PI,/** This is where you need to work out where 89% is */
            circumference: 1 * Math.PI,/** put in a much smaller amount  so it does not take up an entire semi circle */
            legend: {
                display: false
            },
            tooltip: {
                enabled: false
            },
            cutoutPercentage: 70,
        },
    
    });

    var masterlist_chart = new Chart(ctx3, {
    type: 'line',
    data: {
        labels: ["Vehicle Active",'Vehicle Leasing'],
        datasets: [{
            data: Data,
            //data: [8248,3690,5720,4021],
            fill: true,
            backgroundColor: [
                'rgb(0,100,0)',
                'rgb(255,0,0)',
            ],
            borderColor: 'rgb(242,122,0)',
            borderWidth: 3,
            datalabels: {
                color: 'white',
                anchor: 'end',
                align: 'start',
                offset: 10
            },
            font: {
                weight: 'bold',
                size: 16,
            },
            tension: 0.3
          }]
    },
    options: {
        responsive: true,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        interaction: {
            intersect: true,
        },
        scales: {
            x: {
                display: true,
                title: {
                    display: true
                }
            },
            y: {
                display: true,
                title: {
                    display: true,
            },
                suggestedMin: -10,
                suggestedMax: 200
            }
        }
    },
    plugins: [ChartDataLabels]
    });
    var reg_chart = new Chart(ctx4, {
    type: 'bar',
    data: {
        labels: ["January","February", "March", "April", "May","June","July","August","September","October"],
        datasets: [{
            label: 'Registered',
            fill: true,
            //data: [20,15,30,10,22,52,67,44,30,59],
            data: reg_list,
            backgroundColor:'rgba(255, 222, 0)',
            datalabels: {
                color: 'white',
                anchor: 'end',
                align: 'start',
                offset: 10
            },
            font: {
                weight: 'bold',
                size: 16,
            }
        },
            {
            label: 'UnRegistered',
            fill: true,
            //data:[30,58,39,34,29,72,67,74,49,39],
            data: unreg_list,
            backgroundColor:'rgba(9, 112, 84)',
            datalabels: {
                color: 'white',
                anchor: 'end',
                align: 'start',
                offset: 10
            },
            font: {
                weight: 'bold',
                size: 16,
            }

        },
        {
            label: 'Total',
            fill: true,
            //data:[30,58,39,34,29,72,67,74,49,39],
            data: total_regdefault,
            backgroundColor:'rgb(101, 153, 255)',
            datalabels: {
                color: 'white',
                anchor: 'end',
                align: 'start',
                offset: 10
            },
            font: {
                weight: 'bold',
                size: 16,
            }

        }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    reverse: false
                }
            }]
        }
    },
    plugins: [ChartDataLabels]
    });

    var lto_chart = new Chart(ctx5, {
    type: 'doughnut',
    data: {
        datasets: [
        {
            data: [],
            fill: true,
            backgroundColor:'rbg(252,194,0)',
            borderWidth: 3,
            weight:1,
        },{
            data: [],
            fill: true,
            backgroundColor:'rgb(255,36,0)',
            borderWidth: 3,
            weight:1,
            }
        ]
        },
        options: {

            responsive: true,
            rotation: 1 * Math.PI,/** This is where you need to work out where 89% is */
            circumference: 1 * Math.PI,/** put in a much smaller amount  so it does not take up an entire semi circle */
            legend: {
                display: false
            },
            tooltip: {
                enabled: false
            },
            cutoutPercentage: 70,
        },
    
    });

    var fuel_chart = new Chart(ctx6, {
    type: 'bar',
    data: {
        labels:["Petron", "Shell"],
        datasets: [
        {
            label:'Volume',
            data: fuel_data_overall,
            fill: false,
            backgroundColor:'rgba(252,194,0)',
            datalabels: {
                color: 'white',
                anchor: 'end',
                align: 'start',
                offset: 10
            },
            font: {
                weight: 'bold',
                size: 16,
            }
        },{
            label:'Amount',
            data: fuel_data_volume,
            fill: true,
            backgroundColor:'rgba(0,128,128)',
            datalabels: {
                color: 'white',
                anchor: 'end',
                align: 'start',
                offset: 10
            },
            font: {
                weight: 'bold',
                size: 16,
            }
            },
        ],
        
        },
        options: {
          scales: {
            xAxes: [{
              stacked: true
            }],
            yAxes: [{
              stacked: true,
              ticks: {
                autoSkip: false,
                maxRotation: 90,
                minRotation: 90
              }
              
            }]
          }
        },
    plugins: [ChartDataLabels]
    });

    var fuel_chart_volume = new Chart(ctx7, {
    type: 'bar',
    data: {
        labels:["January", "February", "March", "April", "May", "June","July"],
        datasets: [
        {
            label:'Petron',
            data: fuel_volume,
            fill: false,
            backgroundColor:'rgba(252,194,0)',
            datalabels: {
                color: 'white',
                anchor: 'end',
                align: 'start',
                offset: 10
            },
            font: {
                weight: 'bold',
                size: 16,
            }
        },{
            label:'Shell',
            data: fuel_amount,
            fill: true,
            backgroundColor:'rgba(0,128,128)',
            datalabels: {
                color: 'white',
                anchor: 'end',
                align: 'start',
                offset: 10
            },
            font: {
                weight: 'bold',
                size: 16,
            }
            },
        ],
        
        },
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    reverse: false
                }
            }]
        }
    },
    plugins: [ChartDataLabels]
    });

    var fuel_chart_amount = new Chart(ctx8, {
    type: 'bar',
    data: {
        labels:["January", "February", "March", "April", "May", "June","July"],
        datasets: [
        {
            label:'Petron',
            data: [104,90],
            fill: false,
            backgroundColor:'rgba(252,194,0)',
            datalabels: {
                color: 'white',
                anchor: 'end',
                align: 'start',
                offset: 10
            },
            font: {
                weight: 'bold',
                size: 16,
            }
        },{
            label:'Shell',
            data: [60,108],
            fill: true,
            backgroundColor:'rgba(0,128,128)',
            datalabels: {
                color: 'white',
                anchor: 'end',
                align: 'start',
                offset: 10
            },
            font: {
                weight: 'bold',
                size: 16,
            }
            },
        ],
        
        },
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    reverse: false
                }
            }]
        }
    },
    plugins: [ChartDataLabels]
    });

    window.onload = function(){
        var ctx1 = document.getElementById("fleet_card").getContext("2d");
        window.myBar = new Chart(ctx1).Bar(fleet_chart, {
            responsive : true
        });

        var ctx2 = document.getElementById("plate").getContext("2d");
        window.myBar = new Chart(ctx2).Bar(plate_chart, {
            responsive : true
        });

        var ctx3 = document.getElementById("masterlist").getContext("2d");
        window.myBar = new Chart(ctx3).Bar(masterlist_chart, {
            responsive : true
        });

        var ctx4 = document.getElementById("reg").getContext("2d");
        window.myBar = new Chart(ctx4).Bar(reg_chart, {
            responsive : true
        });
        var ctx5 = document.getElementById("lto_tmg").getContext("2d");
        window.myBar = new Chart(ctx5).Bar(lto_chart, {
            responsive : true
        });
        var ctx6 = document.getElementById("fuel_con").getContext("2d");
        window.myBar = new Chart(ctx6).Bar(fuel_chart, {
            responsive : true
        });
        var ctx7 = document.getElementById("fuel_vol").getContext("2d");
        window.myBar = new Chart(ctx7).Bar(fuel_chart_volume, {
            responsive : true
        });
        var ctx8 = document.getElementById("fuel_amount").getContext("2d");
        window.myBar = new Chart(ctx8).Bar(fuel_chart_amount, {
            responsive : true
        });
        
    }
    
}

{% endblock %}
</script>

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@1.0.0"></script>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Vehicle Registration</h5>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <p class="text-center">
                      <strong>Year, {{ year }} - REGISTRATION DATA</strong>
                    </p>

                    <div class="chart" >
                      <!-- Sales Chart Canvas -->
                      <canvas id="reg" height="80" style="height: 80px;" ></canvas>
                    </div>
                    <!-- /.chart-responsive -->
                  </div>
                </div>
                <!-- /.row -->
              </div>

              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
          <!---------###########----------->
          <!---------Left Corner----------->
          <!---------###########----------->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-md-9">
            <!-- MAP & BOX PANE -->
              <div class="card">
              <div class="card-header">
                <h3 class="card-title">Masterlist</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <div class="chart-responsive">
                      <canvas id="masterlist" height="150"></canvas>
                    </div>
                    <!-- ./chart-responsive -->
                  </div>
                  <!-- /.col -->
                                    <div class="col-md-4">
                    <p class="text-center">
                      <strong>Masterlist</strong>
                    </p>

                    <div class="progress-group">
                      Vehicle Active
                      <span class="float-right"><b>{{ v_active }}</b> - Vehicle</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-primary" style="width: 85%"></div>
                      </div>
                    </div>
                    <!-- /.progress-group -->
                    <div class="progress-group">
                      <span class="progress-text">Leasing</span>
                      <span class="float-right"><b>{{ leasing }}</b> - Vehicle</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-warning" style="width: 85%"></div>
                      </div>
                    </div>
                  </div>
                  <!-- /.col -->
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-body -->
            </div>
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Fuel Consumption</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <p class="text-center">
                      <strong>Fuel Consumption {{ year }} - Volume</strong>
                    </p>
                    <div class="chart-responsive">
                      <canvas id="fuel_vol" height="150"></canvas>
                    </div>
                    <!-- ./chart-responsive -->
                    <p class="text-center">
                      <strong>Fuel Consumption {{ year }} - Amount</strong>
                    </p><br>
                    <div class="chart-responsive">
                      <canvas id="fuel_amount" height="150"></canvas>
                    </div>
                    <!-- ./chart-responsive -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-4">
                    <div class="card">
                      <!-- /.card-header -->
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-10">
                          <p class="text-center">
                            <strong>Fuel Consumption {{ year }} - OverAll</strong>
                          </p>
                            <div class="chart-responsive">
                              <canvas id="fuel_con" height="850" ></canvas>
                            </div>
                            <!-- ./chart-responsive -->
                          </div>
                        </div>
                        <!-- /.row -->
                      </div>
                    </div>
                  </div>
                  <!-- /.col -->
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.row -->
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <!---------###########----------->
          <!---------Right Corner----------->
          <!---------###########----------->
          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Plate Monitoring</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-9">
                    <div class="chart-responsive">
                      <canvas id="plate" height="150" ></canvas>
                    </div>
                    <!-- ./chart-responsive -->
                  </div>
                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer bg-white p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <b>Total Request</b>
                      <span class="float-right text-success">
                        <i class="text-sm"></i>
                        {{ total }}</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <b>Total Request Completed</b>
                      <span class="float-right" style="color:red">
                        <i class="text-sm"></i> {{ completed }}
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Fleet Card</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <div class="chart-responsive">
                      <canvas id="fleet_card" height="150" ></canvas>
                    </div>
                    <!-- ./chart-responsive -->
                  </div>
                  <!-- /.col -->
                  <!-- <div class="col-md-4"> -->
                   <!--  <ul class="chart-legend clearfix">
                      <li><i class="far fa-circle text-danger"></i> Total Request</li>
                      <li><i class="far fa-circle text-success"></i> Total Request Completed</li>
                    </ul> -->
                  <!-- </div> -->
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer bg-white p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Total Request
                      <span class="float-right text-danger">
                        <i class="text-m"></i>
                        <b>{{ data_all }} </b> </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Total Request Completed
                      <span class="float-right text-success">
                        <i class="text-sm"></i><b>{{ data_completed }}</b>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.footer -->
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Billing</h3>
                </div>
                  <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="chart-responsive">
                          <canvas id="lto_tmg" height="150" ></canvas>
                        </div>
                        <!-- ./chart-responsive -->
                      </div>
                    </div>
                    <!-- /.row -->
                </div>
                  <!-- /.card-body -->
                <div class="card-footer bg-white p-0">
                    <ul class="nav nav-pills flex-column">
                      <li class="nav-item">
                        <a href="#" class="nav-link">
                          Total Request
                          <span class="float-right text-danger">
                            <i class="text-m"></i>
                            <b></b> </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                          Total Request Completed
                          <span class="float-right text-success">
                            <i class="text-sm"></i><b></b>
                          </span>
                        </a>
                      </li>
                    </ul>
                </div>
                  <!-- /.footer -->
            </div>
        </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->


{% endblock %}
