{% extends 'base.html' %}
{% block content %}

<style type="text/css">
  th {
    text-align: middle;
  }
</style>

<div class="col-md-12">
    <div class="card">
    <div class="card-header">
        <h3>Billing Details</h3>&nbsp;
    </div>

<table width="90%" class="table table-bordered table-hover" border="5px">
  <tr>
        <th  width="25%">Reference Number</th><td  width="25%">{{ object.ref_no }}</td>
        <th  width="25%">SOA Number</th><td  width="25%"> {{ object.soa_no }}</td>
  </tr>
  <tr>
        <th>In Payment Of</th><td>{{ object.in_payment_of }}</td>
        <th>Cost Center</th><td>{{ onject.cost_center }}</td>
    </tr>
    <tr>
        <th>Bill Date</th><td>{{ object.date_bill }}</td>
        <th>Total Amount</th><td>{{ object.total_amount }}</td>
    </tr>

</table>
    <div class="card-footer">
      <a href="{% url 'billing_update' object.id %}" class="buttonsubmit" >UPDATE</a>
      <a href="{% url 'billing_list' %}" class="btn" >CLOSE</a>
    </div>

{% endblock %}
