{% extends 'base.html' %}
{% block content %}

<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>

<div class="breadcrumbs">
    <div class="col-sm-12">
        <h3><b>Employee MasterList</b></h3>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                    <a href="{% url 'masterlist_dl'%}"> <u>Export Employee Masterlist</u></a>
                    <a href="{% url 'employeeMasterlist-new' %}" style="float:right"><u>Add New Employee</u></a>
                </div>
                    <table id="vtable" class="display" style="width:100%" data-server-side="true" data-ajax="/api/empmasterlist/?format=datatables">
                    <thead>
                        <tr>
                            <th>Employee ID:</th>
                            <th>Company:</th>
                            <th>Employee Last Name:</th>
                            <th>Employee First Name</th>
                            <th>Employee Middle Name</th>
                            <th>Employee Suffix</th>
                            <th>Band</th>
                            <th>Cost Center</th>
                            <th>DIV code</th>
                            <th>Group</th>
                            <th>Division</th>
                            <th>Department</th>
                            <th>Section</th>
                            <th>Unit</th>
                            <th>Sub Unit</th>
                            <th>IS ID</th>
                            <th>IS Last Name</th>
                            <th>IS First Name</th>
                            <th>Location</th>
                            <th>Area</th>
                            <th>Area2</th>
                            <th>Benefit</th>
                        </tr>
                    </thead>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

{% endblock %}
{% block extra_js %}
<script>
$(document).ready(function() {
    // $.fn.dataTable.ext.errMode = 'throw';
    var table = $('#vtable').DataTable({
        "processing": true,
        "serverSide": true,
        "scrollX": true,
        "ajax":{
            "URL":"/api/empmasterlist/",
            "Type":"POST"
        },
        // "ajax": {
        //     "Authorization":"Bearer 125c7980-6cd1-40a5-99eb-b6e0ae43255b",
        //     "Content-Type:":"/api/empmasterlist/",
        //     "X-HTTP-Method-Override":"POST"
        //     },
        "columns": [
            {"dataSrc":"Employee_Id"},
            {"dataSrc":"Company"},
            {"dataSrc":"Last_name"},
            {"dataSrc":"First_name"},
            {"dataSrc":"Middle_name"},
            {"dataSrc":"Suffix"},
            {"dataSrc":"Cost_center"},
            {"dataSrc":"Band"},
            {"dataSrc":"DIV_code"},
            {"dataSrc":"Group"},
            {"dataSrc":"Division"},
            {"dataSrc":"Department"},
            {"dataSrc":"Section"},
            {"dataSrc":"Unit"},
            {"dataSrc":"Sub_unit"}, 
            {"dataSrc":"IS_ID"},
            {"dataSrc":"IS_lastname"},
            {"dataSrc":"IS_firstname"},
            {"dataSrc":"Location"},
            {"dataSrc":"Area"},
            {"dataSrc":"Area2"},
            {"dataSrc":"Benefit"},
        ]

    });
    $('#vtable').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    } );
});
</script>

{% endblock %}
<!-- // "render": function(data, type, row, meta, id){
            // if(type === 'display'){
            //     // data = '<a href="/VehicleMasterlist/New/ {{ data.id }}">' + data + '</a>';
            //     data = '<a href="{%url 'vehicle_details' id.id %}">' + data + '</a>';
            //     }
            // return data;
            // }
 -->


